USE [StarWestconCALA2]
GO
/****** Object:  UserDefinedFunction [dbo].[NotaDeCreditoChile_Referencia]    Script Date: 13/03/2018 17:13:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
Alterado por Ulisses Marcon - 13/03/2018
Atividade PRIME-1858
A Function não estava programada para a utilização da função de nota de desconto na devolução. Foi alterado o trecho do JOIN da J10 com a T89.
*/

ALTER FUNCTION [dbo].[NotaDeCreditoChile_Referencia] 
(   
    @J10_UKEY AS VARCHAR(20)
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
	DECLARE @MY_STRING AS VARCHAR(2000)
	-- COMEÇO DA LINHA DE CABEÇALHO
	SET @MY_STRING=+CHAR(13)+CHAR(10)+'->Referencia<-'+CHAR(13)+CHAR(10)

	-- (NroLineaRef) Primeira linha
	SET @MY_STRING=@MY_STRING+'1;'

	-- (TipoDTERef, FolioRef, FechaRef) - Modelo da Nota Original, Número de NF, Data de Emissão da NF, 
	SET @MY_STRING=@MY_STRING+ ISNULL( 
	(	
	
		SELECT TOP 1 (
	
		SELECT TOP 1
		LTRIM(RTRIM(T89_001_C))+';'+
		LTRIM(RTRIM(CASE WHEN J10T.J10_518_C<>SPACE(20) THEN J10T.J10_518_C ELSE J10T.J10_001_C END ))+';'+
		CONVERT(char(10), J10T.J10_003_D,126)
		FROM J10 (nolock) 
		join J11 (NOLOCK) ON J11.J10_UKEY=J10.UKEY
		JOIN J11 J11T (NOLOCK) ON J11.J11_UKEYP=J11T.UKEY
		JOIN J10 J10T (NOLOCK) ON J11T.J10_UKEY=J10T.UKEY
		JOIN T89 (NOLOCK) ON J10T.T89_UKEY=T89.UKEY
		WHERE J10.UKEY=@J10_UKEY
		UNION ALL
		SELECT TOP 1
		LTRIM(RTRIM(T89_001_C))+';'+
		LTRIM(RTRIM(J11.J11_507_C))+';'+
		CONVERT(char(10), J11.J11_510_D,126)
		FROM J10 (nolock) 
		join J11 (NOLOCK) ON J11.J10_UKEY=J10.UKEY
		JOIN T89 (NOLOCK) ON J11.T89_UKEY=T89.UKEY
		WHERE J10.UKEY=@J10_UKEY AND J11_510_D IS NOT NULL AND J11_507_C<>SPACE(20)
		UNION ALL
		SELECT TOP 1
			LTRIM(RTRIM(T89_001_C))+';'+
			CASE WHEN LTRIM(RTRIM(J10.J10_507_C)) <> ''
				THEN LTRIM(RTRIM(J10.J10_507_C))
				ELSE LTRIM(RTRIM((SELECT J10T.J10_001_C FROM J10 J10T (NOLOCK) WHERE J10T.UKEY = J10.J10_UKEYDESC))) END +';'+
			CONVERT(char(10), ISNULL(J10.J10_520_D, J10.J10_508_D),126)
			FROM J10 (nolock) 
			JOIN T89 (NOLOCK) ON isnull(J10.T89WE_UKEY, J10.T89_UKEYDESC)=T89.UKEY
		WHERE J10.UKEY=@J10_UKEY
			AND NOT EXISTS (		SELECT TOP 1
					LTRIM(RTRIM(T89_001_C))+';'+
					LTRIM(RTRIM(CASE WHEN J10T.J10_518_C<>SPACE(20) THEN J10T.J10_518_C ELSE J10T.J10_001_C END ))+';'+
					CONVERT(char(10), J10T.J10_003_D,126)
					FROM J10 (nolock) 
					join J11 (NOLOCK) ON J11.J10_UKEY=J10.UKEY
					JOIN J11 J11T (NOLOCK) ON J11.J11_UKEYP=J11T.UKEY
					JOIN J10 J10T (NOLOCK) ON J11T.J10_UKEY=J10T.UKEY
					JOIN T89 (NOLOCK) ON J10T.T89_UKEY=T89.UKEY
					WHERE J10.UKEY=@J10_UKEY)



		) SELECT1 

		), '')+';'

	DECLARE @TIPO_NC AS VARCHAR(1)
	DECLARE @MOTIVO AS VARCHAR(30)


	-- (CodigoRef)
	--0 Si Código de Referencia
	--1 Anula Documento de Referencia
	--2 Corrige Texto Documento de Referencia
	--3 Corrige Montos

	SET @TIPO_NC='3'
	SET @MOTIVO='Devolucion de mercaderias'
	-- SE FOR UMA NOTA ADMINISTRATIVA QUE SÓ CORRIGE TEXTO, PRECISA ALTERAR O TIPO
	IF EXISTS(SELECT TOP 1 T04.UKEY FROM STARWESTCONCALA2.DBO.T04 (NOLOCK)
			JOIN STARWESTCONCALA2.DBO.J11 (NOLOCK) ON J11.T04_UKEY=T04.UKEY
			WHERE J11.J10_UKEY=@J10_UKEY AND T04_001_C='E14.01')
	BEGIN
		SET @TIPO_NC='2'
		SET @MOTIVO=' Corrige Texto Documento de Referencia'
	END
	SET @MY_STRING=@MY_STRING+@TIPO_NC+';'


	-- (RazonRef) - Motivo da devolução
	SET @MY_STRING=@MY_STRING+@MOTIVO+';'+CHAR(13)+CHAR(10)

	RETURN @MY_STRING
END





