USE [Westcon]
GO
/****** Object:  StoredProcedure [Starsoft].[Report_RAS]    Script Date: 10/08/2017 10:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
*- 10/08/2017 - USMARCON
Criada para atender a atividade PRIME-1054
*/


-- EXEC [Starsoft].[Report_276] '','','',''
          
CREATE PROCEDURE [Starsoft].[Report_RP]
	@PLC_RAS as varchar(20),
	@PLC_INVOICE as varchar(20)
	
AS
BEGIN
	SET NOCOUNT ON;

	SELECT DISTINCT
		F18_001_C AS 'NUMERO DO RP',
		F18_003_D AS 'DATA DO RP',
		U10_001_C AS INVOICE,
		U10_004_D AS EMISSAO,
		SUM(F16_003_B) AS 'VALOR QUITADO',
		U10_020_C AS 'CONTRATO DE CAMBIO',
		U11_500_C AS RAS
	FROM STARWESTCON.DBO.U10 (NOLOCK)
	INNER JOIN STARWESTCON.DBO.U11 (NOLOCK) ON U11.U10_UKEY = U10.UKEY
	INNER JOIN STARWESTCON.DBO.F11 (NOLOCK) ON F11.F11_UKEYP = U10.UKEY
	INNER JOIN STARWESTCON.DBO.F14 (NOLOCK) ON F14.F11_UKEY = F11.UKEY
	INNER JOIN STARWESTCON.DBO.F16 (NOLOCK) ON F16.F14_UKEY = F14.UKEY
	INNER JOIN STARWESTCON.DBO.F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
	INNER JOIN STARWESTCON.DBO.WE98 (NOLOCK) ON WE98.WE98_UKEYP = U11.UKEY AND WE98.WE98_002_N = 7
	WHERE (@PLC_RAS = '' OR WE98_005_C = @PLC_RAS) AND (@PLC_INVOICE = '' OR U10_001_C = @PLC_INVOICE)
	GROUP BY F18_001_C, F18_003_D, U11_500_C, U10_001_C, U10_004_D, U10_020_C
	 
END