USE [Westcon]
GO
/****** Object:  StoredProcedure [Starsoft].[Reports_TitulosPagar_ComInf_Pagamento]    Script Date: 12/04/2016 18:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*

*- Alterado por ELCruz em 22/07/13
- Implementação para permitir o filtro de títulos a pagar cadastrados manualmente ao invés de somente títulos originados de NF de entrada.
- Implementação para considerar títulos cadastrados para cliente também ao invés de somente títulos cadastrados para fornecedores

2013-07-09
Alterado por JM.
Incluídas as faixas de aging

2015-03-27
Alterado por Thiago Rodrigues
Atividade 14424 do ScrumO
Pego os totais dos eventos 
*/
-- exec [Starsoft].[Reports_TitulosPagar_ComInf_Pagamento] 4,'20140101','20140425','','',1

ALTER PROCEDURE [Starsoft].[Reports_TitulosPagar_ComInf_Pagamento]
(   @CODERP INT,
	@PLD_EMISSAOINICIAL DATE,
	@PLD_EMISSAOFINAL DATE,
	@PLC_CODFORNECEDOR VARCHAR(20),
	@PLC_NOMFORNECEDOR VARCHAR(254),
	@TrazerQuitado bit
)
AS

IF @CODERP = 1
BEGIN

	SET NOCOUNT ON;

	-- Busco todos os títulos a PAGAR e demonstro o total pago, ultima data de pagamento e o ultimo evento do cnab
	SELECT

	
	substring (f14.A36_CODE0,1,3) AS 'Currency', -- campo com moeda da parcela
		F11.F11_001_C NF,
		F14.F14_001_C PARCELA,
		F11.F11_002_D EMISSAO,
		F14.F14_003_D VENCIMENTO,
		QP.DATA_PAGAMENTO DATA_PAGAMENTO,
		A08.A08_003_C NOME,
		A08.A08_001_C CODIGO,	
		isnull(A02.A02_002_C,'') as 'Vendor_Type',	-- Incluso por rpaulista - 29/05/2015 - Scrum 14547
		F14.F14_010_B VALOR_PARCELA,
		ISNULL(QP.VALOR_PAGO,0) VALOR_PAGO,
		F14.F14_010_B - F14.F14_029_B - F14.F14_025_B - F14.F14_021_B - F14.F14_022_B VALOR_ABERTO,
		ISNULL(
				(
					SELECT TOP 1 A55.A55_002_C
					FROM STARWESTCON.DBO.F35 F35 (NOLOCK)
					INNER JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F35.F18_UKEY = F18.UKEY 
					INNER JOIN STARWESTCON.DBO.F14 F14T (NOLOCK) ON F35.F14_UKEY = F14T.UKEY
					INNER JOIN STARWESTCON.DBO.A01 A01 (NOLOCK) ON F14T.A01_UKEY = A01.UKEY
					INNER JOIN STARWESTCON.DBO.A55 A55 (NOLOCK) ON A55.A01_UKEY = A01.UKEY 
					LEFT JOIN STARWESTCON.DBO.F26 F26 (NOLOCK) ON A55.F26_UKEY = F26.UKEY
					WHERE F18_002_C = '026' AND F14T.UKEY = F14.UKEY AND (A55.F26_UKEY = F35.F26_UKEY OR A55.A55_001_C = F35.F35_028_C)
					ORDER BY ISNULL(F35.F35_017_D, F35.F35_021_D) DESC
				)
		,'')ULTIMO_EVENTO,
		ISNULL(F47.F47_002_C,'') CF,
		CASE WHEN (getdate() - F14.F14_003_D) <= -121 THEN 'Due in 121 days or more'
                   WHEN (getdate() - F14.F14_003_D) >= -120  AND  (getdate() - F14.F14_003_D) <= -91 THEN 'Due in 91 to 120 days'
                   WHEN (getdate() - F14.F14_003_D) >= -90  AND  (getdate() - F14.F14_003_D) <= -61 THEN 'Due in 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -60  AND  (getdate() - F14.F14_003_D) <= -31 THEN 'Due in 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -30  AND  (getdate() - F14.F14_003_D) <= -16 THEN 'Due in 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -15  AND  (getdate() - F14.F14_003_D) <= 0 THEN 'Due in 0 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 0 AND (getdate() - F14.F14_003_D) <= 15 THEN 'Overdue 1 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 15 AND (getdate() - F14.F14_003_D) <= 30 THEN 'Overdue 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) > 30 AND (getdate() - F14.F14_003_D) <= 60 THEN 'Overdue 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) > 60 AND (getdate() - F14.F14_003_D) <= 90 THEN 'Overdue 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) > 90 AND (getdate() - F14.F14_003_D) <= 120 THEN 'Overdue 91 to 120 days' 
                   ELSE 'Overdue more than 120 days' 
                   END AS 'Faixa Atraso',
		F14.F14_501_D AS NOVA_DATA_VENCIMENTO
		-- Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		,isnull(U13.U13_006_B,0) as 'DI_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCON.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCON.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = F11.F11_002_D
						AND A37.A36_UKEY = (select ukey from STARWESTCON.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)		
				), 0.000000
			) as 'Issue_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCON.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCON.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = @PLD_EMISSAOFINAL
						AND A37.A36_UKEY = (select ukey from STARWESTCON.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)			
				), 0.000000
			) as 'Current_Rate'		
		-- Fim Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
	FROM STARWESTCON.DBO.F14 F14 (NOLOCK)
	JOIN STARWESTCON.DBO.F11 F11 (NOLOCK) ON F14.F11_UKEY = F11.UKEY
	JOIN STARWESTCON.DBO.A08 A08 (NOLOCK) ON F11.A08_UKEY = A08.UKEY	
	LEFT JOIN STARWESTCON.DBO.A02 A02 (NOLOCK) ON A08.A02_UKEY = A02.UKEY -- Incluso por rpaulista - 29/05/2015 - Scrum 14547	
	LEFT JOIN STARWESTCON.DBO.E10 E10 (NOLOCK) ON F11.F11_IUKEYP = E10.UKEY
	LEFT JOIN STARWESTCON.DBO.U13 (NOLOCK) ON E10.U13_UKEY=U13.UKEY  -- Incluso por rpaulista - 29/06/2015 - Scrum 14520
	LEFT JOIN STARWESTCON.DBO.F47 F47 (NOLOCK) ON F14.F47_UKEY = F47.UKEY
	LEFT JOIN (
				SELECT	MAX(F16.F16_011_D) DATA_PAGAMENTO,
						SUM(F16.F16_003_B) VALOR_PAGO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '001' -- EVENTO DE QUITACAO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA QUITACAO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL 
				GROUP BY F16.F14_UKEY
			)QP ON QP.F14_UKEY = F14.UKEY
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ESTORNO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '030' -- EVENTO DE ESTORNO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA ESTORNO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ESTORNO ON ESTORNO.F14_UKEY = F14.UKEY		
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_REPARCELAMENTO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '027' -- EVENTO DO REPARCELAMENTO
					AND F18.F18_004_N = 1 -- EFETIVACAO DO REPARCELAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)REPARC ON REPARC.F14_UKEY = F14.UKEY		
	
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ADIANTAMENTO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				WHERE F16.F16_005_C = '021' -- EVENTO DE ADIANTAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ADT ON ADT.F14_UKEY = F14.UKEY									
	
	WHERE
			F11.F11_016_C = '001' AND
			F11.F11_002_D BETWEEN @PLD_EMISSAOINICIAL AND @PLD_EMISSAOFINAL
			AND ((@PLC_CODFORNECEDOR = '') OR (A08.A08_001_C LIKE @PLC_CODFORNECEDOR + '%'))
			AND ((@PLC_NOMFORNECEDOR = '') OR (A08.A08_003_C LIKE '%' + @PLC_NOMFORNECEDOR + '%'))
			AND (@TrazerQuitado  = 1 OR F14.F14_010_B - ISNULL(VALOR_ESTORNO,0) - ISNULL(VALOR_REPARCELAMENTO,0) - ISNULL(VALOR_PAGO,0) - ISNULL(VALOR_ADIANTAMENTO,0) > 0 )
			
	UNION ALL
	
	SELECT
		substring (f14.A36_CODE0,1,3) AS 'Currency', -- campo com moeda da parcela
		F11.F11_001_C NF,
		F14.F14_001_C PARCELA,
		F11.F11_002_D EMISSAO,
		F14.F14_003_D VENCIMENTO,
		QP.DATA_PAGAMENTO DATA_PAGAMENTO,
		A03.A03_003_C NOME,
		A03.A03_001_C CODIGO,
		isnull(A02.A02_002_C,'') as 'Vendor_Type',	-- Incluso por rpaulista - 29/05/2015 - Scrum 14547
		F14.F14_010_B VALOR_PARCELA,
		ISNULL(QP.VALOR_PAGO,0) VALOR_PAGO,
		F14.F14_010_B - F14.F14_029_B - F14.F14_025_B - F14.F14_021_B - F14.F14_022_B VALOR_ABERTO,
		ISNULL(
				(
					SELECT TOP 1 A55.A55_002_C
					FROM STARWESTCON.DBO.F35 F35 (NOLOCK)
					INNER JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F35.F18_UKEY = F18.UKEY 
					INNER JOIN STARWESTCON.DBO.F14 F14T (NOLOCK) ON F35.F14_UKEY = F14T.UKEY
					INNER JOIN STARWESTCON.DBO.A01 A01 (NOLOCK) ON F14T.A01_UKEY = A01.UKEY
					INNER JOIN STARWESTCON.DBO.A55 A55 (NOLOCK) ON A55.A01_UKEY = A01.UKEY 
					LEFT JOIN STARWESTCON.DBO.F26 F26 (NOLOCK) ON A55.F26_UKEY = F26.UKEY
					WHERE F18_002_C = '026' AND F14T.UKEY = F14.UKEY AND (A55.F26_UKEY = F35.F26_UKEY OR A55.A55_001_C = F35.F35_028_C)
					ORDER BY ISNULL(F35.F35_017_D, F35.F35_021_D) DESC
				)
		,'')ULTIMO_EVENTO,
		ISNULL(F47.F47_002_C,'') CF,
		CASE WHEN (getdate() - F14.F14_003_D) <= -121 THEN 'Due in 121 days or more'
                   WHEN (getdate() - F14.F14_003_D) >= -120  AND  (getdate() - F14.F14_003_D) <= -91 THEN 'Due in 91 to 120 days'
                   WHEN (getdate() - F14.F14_003_D) >= -90  AND  (getdate() - F14.F14_003_D) <= -61 THEN 'Due in 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -60  AND  (getdate() - F14.F14_003_D) <= -31 THEN 'Due in 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -30  AND  (getdate() - F14.F14_003_D) <= -16 THEN 'Due in 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -15  AND  (getdate() - F14.F14_003_D) <= 0 THEN 'Due in 0 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 0 AND (getdate() - F14.F14_003_D) <= 15 THEN 'Overdue 1 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 15 AND (getdate() - F14.F14_003_D) <= 30 THEN 'Overdue 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) > 30 AND (getdate() - F14.F14_003_D) <= 60 THEN 'Overdue 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) > 60 AND (getdate() - F14.F14_003_D) <= 90 THEN 'Overdue 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) > 90 AND (getdate() - F14.F14_003_D) <= 120 THEN 'Overdue 91 to 120 days' 
                   ELSE 'Overdue more than 120 days' 
                   END AS 'Faixa Atraso',
				   F14.F14_501_D AS NOVA_DATA_VENCIMENTO
				   -- Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		,isnull(U13.U13_006_B,0) as 'DI_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCON.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCON.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = F11.F11_002_D
						AND A37.A36_UKEY = (select ukey from STARWESTCON.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)		
				), 0.000000
			) as 'Issue_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCON.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCON.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = @PLD_EMISSAOFINAL
						AND A37.A36_UKEY = (select ukey from STARWESTCON.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)			
				), 0.000000
			) as 'Current_Rate'		
		-- Fim Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
	FROM STARWESTCON.DBO.F14 F14 (NOLOCK)
	JOIN STARWESTCON.DBO.F11 F11 (NOLOCK) ON F14.F11_UKEY = F11.UKEY
	JOIN STARWESTCON.DBO.A03 A03 (NOLOCK) ON F11.A03_UKEY = A03.UKEY
	LEFT JOIN STARWESTCON.DBO.A02 A02 (NOLOCK) ON A03.A02_UKEY = A02.UKEY -- Incluso por rpaulista - 29/05/2015 - Scrum 14547
	LEFT JOIN STARWESTCON.DBO.E10 E10 (NOLOCK) ON F11.F11_IUKEYP = E10.UKEY
	LEFT JOIN STARWESTCON.DBO.U13 (NOLOCK) ON E10.U13_UKEY=U13.UKEY  -- Incluso por rpaulista - 29/06/2015 - Scrum 14520
	LEFT JOIN STARWESTCON.DBO.F47 F47 (NOLOCK) ON F14.F47_UKEY = F47.UKEY
	LEFT JOIN (
				SELECT	MAX(F16.F16_011_D) DATA_PAGAMENTO,
						SUM(F16.F16_003_B) VALOR_PAGO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '001' -- EVENTO DE QUITACAO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA QUITACAO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL 
				GROUP BY F16.F14_UKEY
			)QP ON QP.F14_UKEY = F14.UKEY
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ESTORNO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '030' -- EVENTO DE ESTORNO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA ESTORNO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ESTORNO ON ESTORNO.F14_UKEY = F14.UKEY		
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_REPARCELAMENTO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '027' -- EVENTO DO REPARCELAMENTO
					AND F18.F18_004_N = 1 -- EFETIVACAO DO REPARCELAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)REPARC ON REPARC.F14_UKEY = F14.UKEY		
	
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ADIANTAMENTO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				WHERE F16.F16_005_C = '021' -- EVENTO DE ADIANTAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ADT ON ADT.F14_UKEY = F14.UKEY							
			

	WHERE
			F11.F11_016_C = '001' AND 
			F11.F11_002_D BETWEEN @PLD_EMISSAOINICIAL AND @PLD_EMISSAOFINAL
			AND ((@PLC_CODFORNECEDOR = '') OR (A03.A03_001_C LIKE @PLC_CODFORNECEDOR + '%'))
			AND ((@PLC_NOMFORNECEDOR = '') OR (A03.A03_003_C LIKE '%' + @PLC_NOMFORNECEDOR + '%'))
			AND (@TrazerQuitado  = 1 OR F14.F14_010_B - ISNULL(VALOR_ESTORNO,0) - ISNULL(VALOR_REPARCELAMENTO,0) - ISNULL(VALOR_PAGO,0) - ISNULL(VALOR_ADIANTAMENTO,0) > 0 )	
	ORDER BY EMISSAO, NF, PARCELA
	
END


IF @CODERP = 2 or @CODERP = 4
BEGIN

	SET NOCOUNT ON;

	-- Busco todos os títulos a PAGAR e demonstro o total pago, ultima data de pagamento e o ultimo evento do cnab
	SELECT		
	substring (f14.A36_CODE0,1,3) AS 'Currency', -- campo com moeda da parcela
		F11.F11_001_C NF,
		F14.F14_001_C PARCELA,
		F11.F11_002_D EMISSAO,
		F14.F14_003_D VENCIMENTO,
		QP.DATA_PAGAMENTO DATA_PAGAMENTO,
		A08.A08_003_C NOME,
		A08.A08_001_C CODIGO,
		isnull(A02.A02_002_C,'') as 'Vendor_Type',	-- Incluso por rpaulista - 29/05/2015 - Scrum 14547
		F14.F14_010_B VALOR_PARCELA,
		ISNULL(QP.VALOR_PAGO,0) VALOR_PAGO,
		F14.F14_010_B - F14.F14_029_B - F14.F14_025_B - F14.F14_021_B - F14.F14_022_B VALOR_ABERTO,
		ISNULL(
				(
					SELECT TOP 1 A55.A55_002_C
					FROM STARWESTCONCALA2.DBO.F35 F35 (NOLOCK)
					INNER JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F35.F18_UKEY = F18.UKEY 
					INNER JOIN STARWESTCONCALA2.DBO.F14 F14T (NOLOCK) ON F35.F14_UKEY = F14T.UKEY
					INNER JOIN STARWESTCONCALA2.DBO.A01 A01 (NOLOCK) ON F14T.A01_UKEY = A01.UKEY
					INNER JOIN STARWESTCONCALA2.DBO.A55 A55 (NOLOCK) ON A55.A01_UKEY = A01.UKEY 
					LEFT JOIN STARWESTCONCALA2.DBO.F26 F26 (NOLOCK) ON A55.F26_UKEY = F26.UKEY
					WHERE F18_002_C = '026' AND F14T.UKEY = F14.UKEY AND (A55.F26_UKEY = F35.F26_UKEY OR A55.A55_001_C = F35.F35_028_C) and F35.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP) 
					ORDER BY ISNULL(F35.F35_017_D, F35.F35_021_D) DESC
				)
		,'')ULTIMO_EVENTO,
		ISNULL(F47.F47_002_C,'') CF,
		CASE WHEN (getdate() - F14.F14_003_D) <= -121 THEN 'Due in 121 days or more'
                   WHEN (getdate() - F14.F14_003_D) >= -120  AND  (getdate() - F14.F14_003_D) <= -91 THEN 'Due in 91 to 120 days'
                   WHEN (getdate() - F14.F14_003_D) >= -90  AND  (getdate() - F14.F14_003_D) <= -61 THEN 'Due in 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -60  AND  (getdate() - F14.F14_003_D) <= -31 THEN 'Due in 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -30  AND  (getdate() - F14.F14_003_D) <= -16 THEN 'Due in 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -15  AND  (getdate() - F14.F14_003_D) <= 0 THEN 'Due in 0 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 0 AND (getdate() - F14.F14_003_D) <= 15 THEN 'Overdue 1 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 15 AND (getdate() - F14.F14_003_D) <= 30 THEN 'Overdue 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) > 30 AND (getdate() - F14.F14_003_D) <= 60 THEN 'Overdue 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) > 60 AND (getdate() - F14.F14_003_D) <= 90 THEN 'Overdue 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) > 90 AND (getdate() - F14.F14_003_D) <= 120 THEN 'Overdue 91 to 120 days' 
                   ELSE 'Overdue more than 120 days' 
                   END AS 'Faixa Atraso',
		 F14.F14_501_D AS NOVA_DATA_VENCIMENTO
		 -- Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		,isnull(U13.U13_006_B,0) as 'DI_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONCALA2.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONCALA2.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = F11.F11_002_D
						AND A37.A36_UKEY = (select ukey from STARWESTCONCALA2.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)		
				), 0.000000
			) as 'Issue_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONCALA2.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONCALA2.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = @PLD_EMISSAOFINAL
						AND A37.A36_UKEY = (select ukey from STARWESTCONCALA2.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)			
				), 0.000000
			) as 'Current_Rate'		
		-- Fim Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
	FROM STARWESTCONCALA2.DBO.F14 F14 (NOLOCK)
	JOIN STARWESTCONCALA2.DBO.F11 F11 (NOLOCK) ON F14.F11_UKEY = F11.UKEY
	JOIN STARWESTCONCALA2.DBO.A08 A08 (NOLOCK) ON F11.A08_UKEY = A08.UKEY
	LEFT JOIN STARWESTCON.DBO.A02 A02 (NOLOCK) ON A08.A02_UKEY = A02.UKEY -- Incluso por rpaulista - 29/05/2015 - Scrum 14547
	LEFT JOIN STARWESTCONCALA2.DBO.E10 E10 (NOLOCK) ON F11.F11_IUKEYP = E10.UKEY
	LEFT JOIN STARWESTCONCALA2.DBO.U13 (NOLOCK) ON E10.U13_UKEY=U13.UKEY  -- Incluso por rpaulista - 29/06/2015 - Scrum 14520
	LEFT JOIN STARWESTCONCALA2.DBO.F47 F47 (NOLOCK) ON F14.F47_UKEY = F47.UKEY
	LEFT JOIN (
				SELECT	MAX(F16.F16_011_D) DATA_PAGAMENTO,
						SUM(F16.F16_003_B) VALOR_PAGO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '001' -- EVENTO DE QUITACAO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA QUITACAO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL 
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)QP ON QP.F14_UKEY = F14.UKEY
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ESTORNO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '030' -- EVENTO DE ESTORNO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA ESTORNO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)ESTORNO ON ESTORNO.F14_UKEY = F14.UKEY		
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_REPARCELAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '027' -- EVENTO DO REPARCELAMENTO
					AND F18.F18_004_N = 1 -- EFETIVACAO DO REPARCELAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)REPARC ON REPARC.F14_UKEY = F14.UKEY		
	
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ADIANTAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				WHERE F16.F16_005_C = '021' -- EVENTO DE ADIANTAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)ADT ON ADT.F14_UKEY = F14.UKEY							
	WHERE
			F11.F11_016_C = '001' AND
			F11.F11_002_D BETWEEN @PLD_EMISSAOINICIAL AND @PLD_EMISSAOFINAL
			AND ((@PLC_CODFORNECEDOR = '') OR (A08.A08_001_C LIKE @PLC_CODFORNECEDOR + '%'))
			AND ((@PLC_NOMFORNECEDOR = '') OR (A08.A08_003_C LIKE '%' + @PLC_NOMFORNECEDOR + '%'))
			AND F14.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP) 
			AND (@TrazerQuitado  = 1 OR F14.F14_010_B - ISNULL(VALOR_ESTORNO,0) - ISNULL(VALOR_REPARCELAMENTO,0) - ISNULL(VALOR_PAGO,0) - ISNULL(VALOR_ADIANTAMENTO,0) > 0 )
	
	UNION ALL
	
	SELECT		
	substring (f14.A36_CODE0,1,3) AS 'Currency', -- campo com moeda da parcela
		F11.F11_001_C NF,
		F14.F14_001_C PARCELA,
		F11.F11_002_D EMISSAO,
		F14.F14_003_D VENCIMENTO,
		QP.DATA_PAGAMENTO DATA_PAGAMENTO,
		A03.A03_003_C NOME,
		A03.A03_001_C CODIGO,
		isnull(A02.A02_002_C,'') as 'Vendor_Type',	-- Incluso por rpaulista - 29/05/2015 - Scrum 14547
		F14.F14_010_B VALOR_PARCELA,
		ISNULL(QP.VALOR_PAGO,0) VALOR_PAGO,
		F14.F14_010_B - F14.F14_029_B - F14.F14_025_B - F14.F14_021_B - F14.F14_022_B VALOR_ABERTO,
		ISNULL(
				(
					SELECT TOP 1 A55.A55_002_C
					FROM STARWESTCONCALA2.DBO.F35 F35 (NOLOCK)
					INNER JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F35.F18_UKEY = F18.UKEY 
					INNER JOIN STARWESTCONCALA2.DBO.F14 F14T (NOLOCK) ON F35.F14_UKEY = F14T.UKEY
					INNER JOIN STARWESTCONCALA2.DBO.A01 A01 (NOLOCK) ON F14T.A01_UKEY = A01.UKEY
					INNER JOIN STARWESTCONCALA2.DBO.A55 A55 (NOLOCK) ON A55.A01_UKEY = A01.UKEY 
					LEFT JOIN STARWESTCONCALA2.DBO.F26 F26 (NOLOCK) ON A55.F26_UKEY = F26.UKEY
					WHERE F18_002_C = '026' AND F14T.UKEY = F14.UKEY AND (A55.F26_UKEY = F35.F26_UKEY OR A55.A55_001_C = F35.F35_028_C) and F35.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP) 
					ORDER BY ISNULL(F35.F35_017_D, F35.F35_021_D) DESC
				)
		,'')ULTIMO_EVENTO,
		ISNULL(F47.F47_002_C,'') CF,
		CASE WHEN (getdate() - F14.F14_003_D) <= -121 THEN 'Due in 121 days or more'
                   WHEN (getdate() - F14.F14_003_D) >= -120  AND  (getdate() - F14.F14_003_D) <= -91 THEN 'Due in 91 to 120 days'
                   WHEN (getdate() - F14.F14_003_D) >= -90  AND  (getdate() - F14.F14_003_D) <= -61 THEN 'Due in 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -60  AND  (getdate() - F14.F14_003_D) <= -31 THEN 'Due in 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -30  AND  (getdate() - F14.F14_003_D) <= -16 THEN 'Due in 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -15  AND  (getdate() - F14.F14_003_D) <= 0 THEN 'Due in 0 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 0 AND (getdate() - F14.F14_003_D) <= 15 THEN 'Overdue 1 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 15 AND (getdate() - F14.F14_003_D) <= 30 THEN 'Overdue 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) > 30 AND (getdate() - F14.F14_003_D) <= 60 THEN 'Overdue 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) > 60 AND (getdate() - F14.F14_003_D) <= 90 THEN 'Overdue 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) > 90 AND (getdate() - F14.F14_003_D) <= 120 THEN 'Overdue 91 to 120 days' 
                   ELSE 'Overdue more than 120 days' 
                   END AS 'Faixa Atraso',
		F14.F14_501_D AS NOVA_DATA_VENCIMENTO
		-- Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		,isnull(U13.U13_006_B,0) as 'DI_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONCALA2.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONCALA2.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = F11.F11_002_D
						AND A37.A36_UKEY = (select ukey from STARWESTCONCALA2.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)		
				), 0.000000
			) as 'Issue_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONCALA2.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONCALA2.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = @PLD_EMISSAOFINAL
						AND A37.A36_UKEY = (select ukey from STARWESTCONCALA2.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)			
				), 0.000000
			) as 'Current_Rate'		
		-- Fim Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
	FROM STARWESTCONCALA2.DBO.F14 F14 (NOLOCK)
	JOIN STARWESTCONCALA2.DBO.F11 F11 (NOLOCK) ON F14.F11_UKEY = F11.UKEY
	JOIN STARWESTCONCALA2.DBO.A03 A03 (NOLOCK) ON F11.A03_UKEY = A03.UKEY
	LEFT JOIN STARWESTCON.DBO.A02 A02 (NOLOCK) ON A03.A02_UKEY = A02.UKEY -- Incluso por rpaulista - 29/05/2015 - Scrum 14547
	LEFT JOIN STARWESTCONCALA2.DBO.E10 E10 (NOLOCK) ON F11.F11_IUKEYP = E10.UKEY
	LEFT JOIN STARWESTCONCALA2.DBO.U13 (NOLOCK) ON E10.U13_UKEY=U13.UKEY  -- Incluso por rpaulista - 29/06/2015 - Scrum 14520
	LEFT JOIN STARWESTCONCALA2.DBO.F47 F47 (NOLOCK) ON F14.F47_UKEY = F47.UKEY
	LEFT JOIN (
				SELECT	MAX(F16.F16_011_D) DATA_PAGAMENTO,
						SUM(F16.F16_003_B) VALOR_PAGO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '001' -- EVENTO DE QUITACAO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA QUITACAO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL 
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)QP ON QP.F14_UKEY = F14.UKEY
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ESTORNO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '030' -- EVENTO DE ESTORNO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA ESTORNO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)ESTORNO ON ESTORNO.F14_UKEY = F14.UKEY		
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_REPARCELAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '027' -- EVENTO DO REPARCELAMENTO
					AND F18.F18_004_N = 1 -- EFETIVACAO DO REPARCELAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)REPARC ON REPARC.F14_UKEY = F14.UKEY		
	
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ADIANTAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				WHERE F16.F16_005_C = '021' -- EVENTO DE ADIANTAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)ADT ON ADT.F14_UKEY = F14.UKEY							
	WHERE
			F11.F11_016_C = '001' AND
			F11.F11_002_D BETWEEN @PLD_EMISSAOINICIAL AND @PLD_EMISSAOFINAL
			AND ((@PLC_CODFORNECEDOR = '') OR (A03.A03_001_C LIKE @PLC_CODFORNECEDOR + '%'))
			AND ((@PLC_NOMFORNECEDOR = '') OR (A03.A03_003_C LIKE '%' + @PLC_NOMFORNECEDOR + '%'))
			AND F14.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP) 
			AND (@TrazerQuitado  = 1 OR F14.F14_010_B - ISNULL(VALOR_ESTORNO,0) - ISNULL(VALOR_REPARCELAMENTO,0) - ISNULL(VALOR_PAGO,0) - ISNULL(VALOR_ADIANTAMENTO,0) > 0 )
	
	ORDER BY EMISSAO, NF, PARCELA
	
END

IF @CODERP = 3
BEGIN

	SET NOCOUNT ON;

	-- Busco todos os títulos a PAGAR e demonstro o total pago, ultima data de pagamento e o ultimo evento do cnab
	SELECT
		substring (f14.A36_CODE0,1,3) AS 'Currency', -- campo com moeda da parcela
		F11.F11_001_C NF,
		F14.F14_001_C PARCELA,
		F11.F11_002_D EMISSAO,
		F14.F14_003_D VENCIMENTO,
		QP.DATA_PAGAMENTO DATA_PAGAMENTO,
		A08.A08_003_C NOME,
		A08.A08_001_C CODIGO,
		isnull(A02.A02_002_C,'') as 'Vendor_Type',	-- Incluso por rpaulista - 29/05/2015 - Scrum 14547
		F14.F14_010_B VALOR_PARCELA,
		ISNULL(QP.VALOR_PAGO,0) VALOR_PAGO,
		F14.F14_010_B - F14.F14_029_B - F14.F14_025_B - F14.F14_021_B - F14.F14_022_B VALOR_ABERTO,
		ISNULL(
				(
					SELECT TOP 1 A55.A55_002_C
					FROM STARWESTCONMX.DBO.F35 F35 (NOLOCK)
					INNER JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F35.F18_UKEY = F18.UKEY 
					INNER JOIN STARWESTCONMX.DBO.F14 F14T (NOLOCK) ON F35.F14_UKEY = F14T.UKEY
					INNER JOIN STARWESTCONMX.DBO.A01 A01 (NOLOCK) ON F14T.A01_UKEY = A01.UKEY
					INNER JOIN STARWESTCONMX.DBO.A55 A55 (NOLOCK) ON A55.A01_UKEY = A01.UKEY 
					LEFT JOIN STARWESTCONMX.DBO.F26 F26 (NOLOCK) ON A55.F26_UKEY = F26.UKEY
					WHERE F18_002_C = '026' AND F14T.UKEY = F14.UKEY AND (A55.F26_UKEY = F35.F26_UKEY OR A55.A55_001_C = F35.F35_028_C)
					ORDER BY ISNULL(F35.F35_017_D, F35.F35_021_D) DESC
				)
		,'')ULTIMO_EVENTO,
		ISNULL(F47.F47_002_C,'') CF,
		CASE WHEN (getdate() - F14.F14_003_D) <= -121 THEN 'Due in 121 days or more'
                   WHEN (getdate() - F14.F14_003_D) >= -120  AND  (getdate() - F14.F14_003_D) <= -91 THEN 'Due in 91 to 120 days'
                   WHEN (getdate() - F14.F14_003_D) >= -90  AND  (getdate() - F14.F14_003_D) <= -61 THEN 'Due in 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -60  AND  (getdate() - F14.F14_003_D) <= -31 THEN 'Due in 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -30  AND  (getdate() - F14.F14_003_D) <= -16 THEN 'Due in 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -15  AND  (getdate() - F14.F14_003_D) <= 0 THEN 'Due in 0 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 0 AND (getdate() - F14.F14_003_D) <= 15 THEN 'Overdue 1 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 15 AND (getdate() - F14.F14_003_D) <= 30 THEN 'Overdue 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) > 30 AND (getdate() - F14.F14_003_D) <= 60 THEN 'Overdue 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) > 60 AND (getdate() - F14.F14_003_D) <= 90 THEN 'Overdue 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) > 90 AND (getdate() - F14.F14_003_D) <= 120 THEN 'Overdue 91 to 120 days' 
                   ELSE 'Overdue more than 120 days' 
                   END AS 'Faixa Atraso',
		F14.F14_501_D AS NOVA_DATA_VENCIMENTO
		-- Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		,isnull(U13.U13_006_B,0) as 'DI_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONMX.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONMX.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = F11.F11_002_D
						AND A37.A36_UKEY = (select ukey from STARWESTCONMX.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)		
				), 0.000000
			) as 'Issue_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONMX.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONMX.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = @PLD_EMISSAOFINAL
						AND A37.A36_UKEY = (select ukey from STARWESTCONMX.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)			
				), 0.000000
			) as 'Current_Rate'		
		-- Fim Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
	FROM STARWESTCONMX.DBO.F14 F14 (NOLOCK)
	JOIN STARWESTCONMX.DBO.F11 F11 (NOLOCK) ON F14.F11_UKEY = F11.UKEY
	JOIN STARWESTCONMX.DBO.A08 A08 (NOLOCK) ON F11.A08_UKEY = A08.UKEY
	LEFT JOIN STARWESTCON.DBO.A02 A02 (NOLOCK) ON A08.A02_UKEY = A02.UKEY -- Incluso por rpaulista - 29/05/2015 - Scrum 14547
	LEFT JOIN STARWESTCONMX.DBO.E10 E10 (NOLOCK) ON F11.F11_IUKEYP = E10.UKEY
	LEFT JOIN STARWESTCONMX.DBO.U13 (NOLOCK) ON E10.U13_UKEY=U13.UKEY  -- Incluso por rpaulista - 29/06/2015 - Scrum 14520
	LEFT JOIN STARWESTCONMX.DBO.F47 F47 (NOLOCK) ON F14.F47_UKEY = F47.UKEY
	LEFT JOIN (
				SELECT	MAX(F16.F16_011_D) DATA_PAGAMENTO,
						SUM(F16.F16_003_B) VALOR_PAGO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '001' -- EVENTO DE QUITACAO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA QUITACAO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL 
				GROUP BY F16.F14_UKEY
			)QP ON QP.F14_UKEY = F14.UKEY
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ESTORNO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '030' -- EVENTO DE ESTORNO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA ESTORNO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ESTORNO ON ESTORNO.F14_UKEY = F14.UKEY		
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_REPARCELAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '027' -- EVENTO DO REPARCELAMENTO
					AND F18.F18_004_N = 1 -- EFETIVACAO DO REPARCELAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)REPARC ON REPARC.F14_UKEY = F14.UKEY		
	
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ADIANTAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				WHERE F16.F16_005_C = '021' -- EVENTO DE ADIANTAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ADT ON ADT.F14_UKEY = F14.UKEY							
	WHERE
			F11.F11_016_C = '001' AND
			F11.F11_002_D BETWEEN @PLD_EMISSAOINICIAL AND @PLD_EMISSAOFINAL
			AND ((@PLC_CODFORNECEDOR = '') OR (A08.A08_001_C LIKE @PLC_CODFORNECEDOR + '%'))
			AND ((@PLC_NOMFORNECEDOR = '') OR (A08.A08_003_C LIKE '%' + @PLC_NOMFORNECEDOR + '%'))
			AND (@TrazerQuitado  = 1 OR F14.F14_010_B - ISNULL(VALOR_ESTORNO,0) - ISNULL(VALOR_REPARCELAMENTO,0) - ISNULL(VALOR_PAGO,0) - ISNULL(VALOR_ADIANTAMENTO,0) > 0 )
			
	UNION ALL
	
	SELECT
		substring (f14.A36_CODE0,1,3) AS 'Currency', -- campo com moeda da parcela
		F11.F11_001_C NF,
		F14.F14_001_C PARCELA,
		F11.F11_002_D EMISSAO,
		F14.F14_003_D VENCIMENTO,
		QP.DATA_PAGAMENTO DATA_PAGAMENTO,
		A03.A03_003_C NOME,
		A03.A03_001_C CODIGO,
		isnull(A02.A02_002_C,'') as 'Vendor_Type',	-- Incluso por rpaulista - 29/05/2015 - Scrum 14547
		F14.F14_010_B VALOR_PARCELA,
		ISNULL(QP.VALOR_PAGO,0) VALOR_PAGO,
		F14.F14_010_B - F14.F14_029_B - F14.F14_025_B - F14.F14_021_B - F14.F14_022_B VALOR_ABERTO,
		ISNULL(
				(
					SELECT TOP 1 A55.A55_002_C
					FROM STARWESTCONMX.DBO.F35 F35 (NOLOCK)
					INNER JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F35.F18_UKEY = F18.UKEY 
					INNER JOIN STARWESTCONMX.DBO.F14 F14T (NOLOCK) ON F35.F14_UKEY = F14T.UKEY
					INNER JOIN STARWESTCONMX.DBO.A01 A01 (NOLOCK) ON F14T.A01_UKEY = A01.UKEY
					INNER JOIN STARWESTCONMX.DBO.A55 A55 (NOLOCK) ON A55.A01_UKEY = A01.UKEY 
					LEFT JOIN STARWESTCONMX.DBO.F26 F26 (NOLOCK) ON A55.F26_UKEY = F26.UKEY
					WHERE F18_002_C = '026' AND F14T.UKEY = F14.UKEY AND (A55.F26_UKEY = F35.F26_UKEY OR A55.A55_001_C = F35.F35_028_C)
					ORDER BY ISNULL(F35.F35_017_D, F35.F35_021_D) DESC
				)
		,'')ULTIMO_EVENTO,
		ISNULL(F47.F47_002_C,'') CF,
		CASE WHEN (getdate() - F14.F14_003_D) <= -121 THEN 'Due in 121 days or more'
                   WHEN (getdate() - F14.F14_003_D) >= -120  AND  (getdate() - F14.F14_003_D) <= -91 THEN 'Due in 91 to 120 days'
                   WHEN (getdate() - F14.F14_003_D) >= -90  AND  (getdate() - F14.F14_003_D) <= -61 THEN 'Due in 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -60  AND  (getdate() - F14.F14_003_D) <= -31 THEN 'Due in 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -30  AND  (getdate() - F14.F14_003_D) <= -16 THEN 'Due in 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -15  AND  (getdate() - F14.F14_003_D) <= 0 THEN 'Due in 0 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 0 AND (getdate() - F14.F14_003_D) <= 15 THEN 'Overdue 1 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 15 AND (getdate() - F14.F14_003_D) <= 30 THEN 'Overdue 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) > 30 AND (getdate() - F14.F14_003_D) <= 60 THEN 'Overdue 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) > 60 AND (getdate() - F14.F14_003_D) <= 90 THEN 'Overdue 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) > 90 AND (getdate() - F14.F14_003_D) <= 120 THEN 'Overdue 91 to 120 days' 
                   ELSE 'Overdue more than 120 days' 
                   END AS 'Faixa Atraso',
		F14.F14_501_D AS NOVA_DATA_VENCIMENTO
		-- Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		,isnull(U13.U13_006_B,0) as 'DI_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONMX.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONMX.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = F11.F11_002_D
						AND A37.A36_UKEY = (select ukey from STARWESTCONMX.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)		
				), 0.000000
			) as 'Issue_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONMX.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONMX.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = @PLD_EMISSAOFINAL
						AND A37.A36_UKEY = (select ukey from STARWESTCONMX.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)			
				), 0.000000
			) as 'Current_Rate'
		-- Fim Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
	FROM STARWESTCONMX.DBO.F14 F14 (NOLOCK)
	JOIN STARWESTCONMX.DBO.F11 F11 (NOLOCK) ON F14.F11_UKEY = F11.UKEY
	JOIN STARWESTCONMX.DBO.A03 A03 (NOLOCK) ON F11.A03_UKEY = A03.UKEY
	LEFT JOIN STARWESTCON.DBO.A02 A02 (NOLOCK) ON A03.A02_UKEY = A02.UKEY -- Incluso por rpaulista - 29/05/2015 - Scrum 14547
	LEFT JOIN STARWESTCONMX.DBO.E10 E10 (NOLOCK) ON F11.F11_IUKEYP = E10.UKEY
	LEFT JOIN STARWESTCONMX.DBO.U13 (NOLOCK) ON E10.U13_UKEY=U13.UKEY  -- Incluso por rpaulista - 29/06/2015 - Scrum 14520
	LEFT JOIN STARWESTCONMX.DBO.F47 F47 (NOLOCK) ON F14.F47_UKEY = F47.UKEY
	LEFT JOIN (
				SELECT	MAX(F16.F16_011_D) DATA_PAGAMENTO,
						SUM(F16.F16_003_B) VALOR_PAGO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '001' -- EVENTO DE QUITACAO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA QUITACAO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL 
				GROUP BY F16.F14_UKEY
			)QP ON QP.F14_UKEY = F14.UKEY
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ESTORNO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '030' -- EVENTO DE ESTORNO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA ESTORNO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ESTORNO ON ESTORNO.F14_UKEY = F14.UKEY		
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_REPARCELAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '027' -- EVENTO DO REPARCELAMENTO
					AND F18.F18_004_N = 1 -- EFETIVACAO DO REPARCELAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)REPARC ON REPARC.F14_UKEY = F14.UKEY		
	
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ADIANTAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				WHERE F16.F16_005_C = '021' -- EVENTO DE ADIANTAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ADT ON ADT.F14_UKEY = F14.UKEY							
	WHERE
			F11.F11_016_C = '001' AND
			F11.F11_002_D BETWEEN @PLD_EMISSAOINICIAL AND @PLD_EMISSAOFINAL
			AND ((@PLC_CODFORNECEDOR = '') OR (A03.A03_001_C LIKE @PLC_CODFORNECEDOR + '%'))
			AND ((@PLC_NOMFORNECEDOR = '') OR (A03.A03_003_C LIKE '%' + @PLC_NOMFORNECEDOR + '%'))
			AND (@TrazerQuitado  = 1 OR F14.F14_010_B - ISNULL(VALOR_ESTORNO,0) - ISNULL(VALOR_REPARCELAMENTO,0) - ISNULL(VALOR_PAGO,0) - ISNULL(VALOR_ADIANTAMENTO,0) > 0 )
			
	ORDER BY EMISSAO, NF, PARCELA
	
END




