USE [Westcon]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec [Starsoft].[Reports_DrillDown_Estoque] '20160101','20160831'

ALTER PROCEDURE [Starsoft].[Reports_DrillDown_Estoque]
	@PLD_INITIAL DATE, -- Data de inicio da pesquisa
	@PLD_FINAL DATE -- Data final da pesquisa

AS
BEGIN


    declare @initial_date as date
	declare @final_date as date

	set @initial_date = @PLD_INITIAL
	set @final_date = @PLD_FINAL

	SET NOCOUNT ON;

	
	SELECT * 
	INTO #TMP_RAZAO
	FROM (
		-- Armazeno os lançamentos Contábeis na Conta de Estoque 1106010001
		SELECT * 
		FROM [Westcon].[Starsoft].[fnFinancialPostingsPerAccountPerPeriodBR](@initial_date,@final_date,'1106010001')
		-- Armazeno os lançamentos Contábeis na Conta de Estoque 1106019999
		UNION ALL
		SELECT * 
		FROM [Westcon].[Starsoft].[fnFinancialPostingsPerAccountPerPeriodBR](@initial_date,@final_date,'1106019999')
		-- Armazeno os lançamentos Contábeis na Conta de Estoque 1106050001
		UNION ALL
		SELECT * 
		FROM [Westcon].[Starsoft].[fnFinancialPostingsPerAccountPerPeriodBR](@initial_date,@final_date,'1106050001')
		)TMP
	ORDER BY OPERACAO, NUMERO_OPERACAO, VALORLANCAMENTO

	--================================================TRATANDO DAS NOTAS DE VENDA===============================================================
	-- BUSCO TODAS AS NOTAS DE VENDA NO PERIODO INFORMADO QUE POSSUEM VALOR PARA INTEGRACAO COM O ESTOQUE
	SELECT 
		J10.UKEY AS UKEY,
		J10.J10_001_C AS NF,
		CASE WHEN J10.J10_032_N = 1 THEN 0 ELSE ISNULL(SUM(round(D22.D22_004_B,2)),0) END AS VALOR_ESTOQUE,
		J06.J06_001_B AS VALOR_NOTA,
		J10.J10_003_D AS EMISSAO,
		J10.J10_032_N AS CANCELADA,
		LTRIM(RTRIM(A03.A03_003_C)) AS CLIENTE,
		CAST('VENDA' AS CHAR(254)) AS OBS,
		CAST(CIA.CIA_001_C AS CHAR(254)) AS EMPRESA,
		D13.UKEY AS D13_UKEY,
		(SELECT TOP 1 ISNULL(T04.UKEY,'')  FROM STARWESTCON.DBO.T04 (NOLOCK) 
			INNER JOIN STARWESTCON.DBO.T39 (NOLOCK) ON T39.T04_UKEY = T04.UKEY
			INNER JOIN STARWESTCON.DBO.T38 (NOLOCK) ON T39.T38_UKEY = T38.UKEY
			INNER JOIN STARWESTCON.DBO.J11 (NOLOCK) ON J11.T04_UKEY = T04.UKEY
			WHERE J11.J10_UKEY = J10.UKEY AND T38.T38_001_C = '2.02.01.01.01.003') AS T04_UKEY
	INTO #TMP_NFS -- ARMAZENO AS NOTAS NO CURSOR TEMPORÁRIO DE NOTAS
	FROM
		StarWestcon.dbo.J10 J10 (NOLOCK)
		INNER JOIN StarWestcon.dbo.A03 A03 (NOLOCK) ON J10.A03_UKEY = A03.UKEY
		INNER JOIN StarWestcon.dbo.CIA CIA (NOLOCK) ON J10.CIA_UKEY = CIA.UKEY
		LEFT JOIN StarWestcon.dbo.J06 J06 (NOLOCK) ON J06.J06_UKEYP = J10.UKEY
		LEFT JOIN StarWestcon.dbo.D13 D13 (NOLOCK) ON D13.D13_IUKEYP = J10.UKEY AND D13.D13_999_C = '002' -- SOMENTE NOTAS QUE GERARAM SAÍDA DE MATERIAIS
		LEFT JOIN StarWestcon.dbo.D22 D22 (NOLOCK) ON D22.D13_UKEY = D13.UKEY
	WHERE
		J10.J10_002_N = 1 
		AND J10.J10_003_D BETWEEN @initial_date AND @final_date
		AND (J06.ARRAY_241 = 4 AND J06.J06_001_B > 0) -- NOTAS QUE POSSUEM VALOR PARA INTEGRACAO COM O ESTOQUE
	GROUP BY
		J10.UKEY, J10.J10_001_C, J10.J10_003_D, A03.A03_003_C, D13.UKEY, J10.J10_032_N, CIA.CIA_001_C, J06_001_B

	--INSIRO NO CURSOR DO RESULTADO AS NOTAS COM LANÇAMENTO CONTÁBIL
	SELECT 
	OPERACAO,
	DOCUMENTO,
	VALOR_DOCUMENTO,
	VALOR_ESTOQUE,
	EMISSAO AS EMISSAO,
	CLIENTE,
	LANCAMENTO,
	VALOR_RAZAO,
	HISTORICO,
	CAST(CASE WHEN CANCELADA = 1 AND VALOR_DOCUMENTO = 0 THEN 'CANCELADO MAS TEM LANCAMENTO NA CONTABILIDADE' 
								WHEN CANCELADA = 1 AND VALOR_ESTOQUE > 0 THEN 'CANCELADO MAS TEM MOVIMENTO NO ESTOQUE' 
								WHEN VALOR_ESTOQUE = 0 THEN 'NAO TEM MOVIMENTO NO ESTOQUE MAS TEM LANCAMENTO NA CONTABILIDADE' 
								WHEN VALOR_DOCUMENTO = VALOR_RAZAO THEN 'SEM ERRO'
								WHEN T04_UKEY <> '' AND D13_UKEY = '' THEN 'CES CONFIGURADA PARA INTEGRAR ESTOQUE E NÃO TEM MOVIMENTO'
						ELSE  
								'DIFERENCA ENTRE ESTOQUE E CONTABILIDADE'
						END 
					AS CHAR(254)) AS MOTIVO,
	OBSERVACAO,
	EMPRESA,
	DOCUMENTO_UKEY
	INTO #TMP_RESULTADO -- ARMAZENO AS NOTAS QUE APRESENTARAM DIFERENÇA EM UM CURSOR TEMPORÁRIO
	FROM (
		SELECT 'NFS' AS OPERACAO,
				CAST(TMP_NFS.NF AS VARCHAR(254)) AS DOCUMENTO,
				CAST(TMP_NFS.VALOR_ESTOQUE AS MONEY) AS VALOR_ESTOQUE,
				CAST(TMP_NFS.VALOR_NOTA AS MONEY) AS VALOR_DOCUMENTO,
				CONVERT(VARCHAR(10),TMP_NFS.EMISSAO, 105) AS EMISSAO,
				CAST(TMP_NFS.CLIENTE AS VARCHAR(254)) AS CLIENTE,
				CAST(ISNULL(TMP_RAZAO.LANCAMENTO,'') AS VARCHAR(254)) AS LANCAMENTO,
				--(SELECT SUM(ISNULL(#TMP_RAZAO.VALORLANCAMENTO,0)) FROM #TMP_RAZAO WHERE B06_UKEYP = TMP_NFS.UKEY) AS VALOR_RAZAO,
				cast(TMP_RAZAO.VALORLANCAMENTO as money) AS VALOR_RAZAO,
				CAST(ISNULL(TMP_RAZAO.HISTORICO,'') AS VARCHAR(254)) AS HISTORICO,
				TMP_NFS.CANCELADA AS CANCELADA,
				CAST(TMP_NFS.OBS AS VARCHAR(254)) AS OBSERVACAO,
				TMP_NFS.EMPRESA AS EMPRESA,
				TMP_NFS.UKEY AS DOCUMENTO_UKEY,
				TMP_NFS.T04_UKEY,
				TMP_NFS.D13_UKEY
		FROM #TMP_NFS AS TMP_NFS
		JOIN #TMP_RAZAO AS TMP_RAZAO ON TMP_RAZAO.B06_UKEYP = TMP_NFS.UKEY 
		)TMP
	--GROUP BY TMP_NF.UKEY, TMP_NF.NF, TMP_NF.VALOR, TMP_NF.EMISSAO, TMP_NF.CLIENTE, TMP_RAZAO.LANCAMENTO, TMP_RAZAO.HISTORICO, TMP_NF.EMPRESA, TMP_NF.CANCELADA, TMP_RAZAO.VALORLANCAMENTO, TMP_NF.OBS

	--DELETO AS NOTAS QUE FORAM TRATADAS
	DELETE #TMP_NFS WHERE UKEY IN (SELECT UKEY FROM #TMP_RESULTADO)

	--DELETO OS LANÇAMENTOS QUE JÁ FORAM TRATADOS
	DELETE #TMP_RAZAO WHERE LANCAMENTO IN (SELECT LANCAMENTO FROM #TMP_RESULTADO)

	-- ARMAZENO AS DEMAIS NOTAS NO CURSOR DE RESULTADO
	INSERT INTO #TMP_RESULTADO 
	-- NF SEM TRATAMENTO
	SELECT 
			'NFS' AS OPERACAO,
			TMP_NFS.NF AS DOCUMENTO,
			TMP_NFS.VALOR_NOTA AS VALOR_DOCUMENTO,
			TMP_NFS.VALOR_ESTOQUE AS VALOR_ESTOQUE,
			CONVERT(VARCHAR(10), TMP_NFS.EMISSAO, 105) AS EMISSAO,
			TMP_NFS.CLIENTE AS CLIENTE,
			'' AS LANCAMENTO,
			0 AS VALOR_RAZAO,
			'' AS HISTORICO,
			CAST( CASE WHEN TMP_NFS.CANCELADA = 1 AND TMP_NFS.VALOR_ESTOQUE > 0 THEN 'CANCELADO MAS TEM DOCUMENTO NO ESTOQUE' WHEN TMP_NFS.CANCELADA = 0 AND TMP_NFS.VALOR_ESTOQUE > 0 THEN 'NAO TEM LANCAMENTO NA CONTABILIDADE'  ELSE 'SEM ERRO' END AS CHAR(254)) AS MOTIVO,
			RTRIM(TMP_NFS.OBS) + ' - ' + CASE WHEN TMP_NFS.CANCELADA = 1 THEN 'CANCELADA' ELSE '' END  AS OBSERVACAO,
			TMP_NFS.EMPRESA AS EMPRESA,
			TMP_NFS.UKEY AS DOCUMENTO_UKEY
	FROM #TMP_NFS AS TMP_NFS

	DROP TABLE #TMP_NFS
	--================================================FINALIZADO O TRATAMENTO DAS NOTAS DE VENDA===============================================================
	
	--================================================TRATANDO DAS NOTAS DE ENTRADA===============================================================
	-- BUSCO TODAS AS NOTAS DE COMPRA NO PERIODO INFORMADO QUE POSSUEM VALOR PARA INTEGRACAO COM O ESTOQUE
	SELECT 
		E10.UKEY AS UKEY,
		E10.E10_001_C AS NF,
		CASE WHEN E10.E10_032_N = 1 THEN 0 ELSE ISNULL(SUM(round(D14.D14_004_B,2)),0) END AS VALOR_ESTOQUE,
		E04.E04_001_B AS VALOR_NOTA,
		E10.E10_003_D AS EMISSAO,
		E10.E10_032_N AS CANCELADA,
		LTRIM(RTRIM(A08.A08_003_C)) AS FORNECEDOR,
		CAST('COMPRA' AS CHAR(254)) AS OBS,
		CAST(CIA.CIA_001_C AS CHAR(254)) AS EMPRESA,
		D13.UKEY AS D13_UKEY,
		(SELECT TOP 1 ISNULL(T04.UKEY,'')  FROM STARWESTCON.DBO.T04 (NOLOCK) 
			INNER JOIN STARWESTCON.DBO.T39 (NOLOCK) ON T39.T04_UKEY = T04.UKEY
			INNER JOIN STARWESTCON.DBO.T38 (NOLOCK) ON T39.T38_UKEY = T38.UKEY
			INNER JOIN STARWESTCON.DBO.E11 (NOLOCK) ON E11.T04_UKEY = T04.UKEY
			WHERE E11.E10_UKEY = E10.UKEY AND T38.T38_001_C = '2.02.01.01.01.003') AS T04_UKEY
	INTO #TMP_NFE -- ARMAZENO AS NOTAS NO CURSOR TEMPORÁRIO DE NOTAS
	FROM
		StarWestcon.dbo.E10 E10 (NOLOCK)
		INNER JOIN StarWestcon.dbo.A08 A08 (NOLOCK) ON E10.A08_UKEY = A08.UKEY
		INNER JOIN StarWestcon.dbo.CIA CIA (NOLOCK) ON E10.CIA_UKEY = CIA.UKEY
		LEFT JOIN StarWestcon.dbo.E04 E04 (NOLOCK) ON E04.E04_UKEYP = E10.UKEY
		LEFT JOIN StarWestcon.dbo.D13 D13 (NOLOCK) ON D13.D13_IUKEYP = E10.UKEY AND D13.D13_999_C = '001' -- SOMENTE NOTAS QUE GERARAM ENTRADA DE MATERIAIS
		LEFT JOIN StarWestcon.dbo.D14 D14 (NOLOCK) ON D14.D13_UKEY = D13.UKEY
	WHERE
		E10.E10_002_N = 1 
		AND E10.E10_003_D BETWEEN @initial_date AND @final_date
		AND (E04.ARRAY_241 = 4 AND E04.E04_001_B > 0) -- NOTAS QUE POSSUEM VALOR PARA INTEGRACAO COM O ESTOQUE
	GROUP BY
		E10.UKEY, E10.E10_001_C, E10.E10_003_D, A08.A08_003_C, E10.UKEY, E10.E10_032_N, CIA.CIA_001_C, E04_001_B, D13.UKEY


	--INSIRO NO CURSOR DO RESULTADO AS NOTAS COM LANÇAMENTO CONTÁBIL
	INSERT INTO #TMP_RESULTADO -- ARMAZENO AS NOTAS QUE APRESENTARAM DIFERENÇA EM UM CURSOR TEMPORÁRIO
	SELECT 
	OPERACAO,
	DOCUMENTO,
	VALOR_DOCUMENTO,
	VALOR_ESTOQUE,
	EMISSAO AS EMISSAO,
	CLIENTE,
	LANCAMENTO,
	VALOR_RAZAO,
	HISTORICO,
	CAST(CASE WHEN CANCELADA = 1 AND VALOR_DOCUMENTO = 0 THEN 'CANCELADO MAS TEM LANCAMENTO NA CONTABILIDADE' 
								WHEN CANCELADA = 1 AND VALOR_ESTOQUE > 0 THEN 'CANCELADO MAS TEM MOVIMENTO NO ESTOQUE' 
								WHEN VALOR_ESTOQUE = 0 THEN 'NAO TEM MOVIMENTO NO ESTOQUE MAS TEM LANCAMENTO NA CONTABILIDADE' 
								WHEN VALOR_DOCUMENTO = VALOR_RAZAO THEN 'SEM ERRO'
								WHEN T04_UKEY <> '' AND D13_UKEY = '' THEN 'CES CONFIGURADA PARA INTEGRAR ESTOQUE E NÃO TEM MOVIMENTO'
						ELSE  
								'DIFERENCA ENTRE ESTOQUE E CONTABILIDADE'
						END 
					AS CHAR(254)) AS MOTIVO,
	OBSERVACAO,
	EMPRESA,
	DOCUMENTO_UKEY
	FROM (
		SELECT 'NFE' AS OPERACAO,
				CAST(TMP_NFE.NF AS VARCHAR(254)) AS DOCUMENTO,
				CAST(TMP_NFE.VALOR_ESTOQUE AS MONEY) AS VALOR_ESTOQUE,
				CAST(TMP_NFE.VALOR_NOTA AS MONEY) AS VALOR_DOCUMENTO,
				CONVERT(VARCHAR(10),TMP_NFE.EMISSAO, 105) AS EMISSAO,
				CAST(TMP_NFE.FORNECEDOR AS VARCHAR(254)) AS CLIENTE,
				CAST(ISNULL(TMP_RAZAO.LANCAMENTO,'') AS VARCHAR(254)) AS LANCAMENTO,
				--(SELECT SUM(ISNULL(#TMP_RAZAO.VALORLANCAMENTO,0)) FROM #TMP_RAZAO WHERE B06_UKEYP = TMP_NFS.UKEY) AS VALOR_RAZAO,
				cast(TMP_RAZAO.VALORLANCAMENTO as money) AS VALOR_RAZAO,
				CAST(ISNULL(TMP_RAZAO.HISTORICO,'') AS VARCHAR(254)) AS HISTORICO,
				TMP_NFE.CANCELADA AS CANCELADA,
				CAST(TMP_NFE.OBS AS VARCHAR(254)) AS OBSERVACAO,
				TMP_NFE.EMPRESA AS EMPRESA,
				TMP_NFE.UKEY AS DOCUMENTO_UKEY,
				TMP_NFE.T04_UKEY,
				TMP_NFE.D13_UKEY
		FROM #TMP_NFE AS TMP_NFE
		JOIN #TMP_RAZAO AS TMP_RAZAO ON TMP_RAZAO.B06_UKEYP = TMP_NFE.UKEY 
		)TMP
	--GROUP BY TMP_NF.UKEY, TMP_NF.NF, TMP_NF.VALOR, TMP_NF.EMISSAO, TMP_NF.CLIENTE, TMP_RAZAO.LANCAMENTO, TMP_RAZAO.HISTORICO, TMP_NF.EMPRESA, TMP_NF.CANCELADA, TMP_RAZAO.VALORLANCAMENTO, TMP_NF.OBS

	--DELETO AS NOTAS QUE FORAM TRATADAS
	DELETE #TMP_NFE WHERE UKEY IN (SELECT UKEY FROM #TMP_RESULTADO)

	--DELETO OS LANÇAMENTOS QUE JÁ FORAM TRATADOS
	DELETE #TMP_RAZAO WHERE LANCAMENTO IN (SELECT LANCAMENTO FROM #TMP_RESULTADO)

	-- ARMAZENO AS DEMAIS NOTAS NO CURSOR DE RESULTADO
	INSERT INTO #TMP_RESULTADO 
	-- NF SEM TRATAMENTO
	SELECT 
			'NFE' AS OPERACAO,
			TMP_NFE.NF AS DOCUMENTO,
			TMP_NFE.VALOR_NOTA AS VALOR_DOCUMENTO,
			TMP_NFE.VALOR_ESTOQUE AS VALOR_ESTOQUE,
			CONVERT(VARCHAR(10), TMP_NFE.EMISSAO, 105) AS EMISSAO,
			TMP_NFE.FORNECEDOR AS CLIENTE,
			'' AS LANCAMENTO,
			0 AS VALOR_RAZAO,
			'' AS HISTORICO,
			CAST( CASE WHEN TMP_NFE.CANCELADA = 1 AND TMP_NFE.VALOR_ESTOQUE > 0 THEN 'CANCELADO MAS TEM DOCUMENTO NO ESTOQUE' WHEN TMP_NFE.CANCELADA = 0 AND TMP_NFE.VALOR_ESTOQUE > 0 THEN 'NAO TEM LANCAMENTO NA CONTABILIDADE'  ELSE 'SEM ERRO' END AS CHAR(254)) AS MOTIVO,
			RTRIM(TMP_NFE.OBS) + ' - ' + CASE WHEN TMP_NFE.CANCELADA = 1 THEN 'CANCELADA' ELSE '' END  AS OBSERVACAO,
			TMP_NFE.EMPRESA AS EMPRESA,
			TMP_NFE.UKEY AS DOCUMENTO_UKEY
	FROM #TMP_NFE AS TMP_NFE

	DROP TABLE #TMP_NFE
	--================================================FINALIZADO O TRATAMENTO DAS NOTAS DE ENTRADA===============================================================

	--================================================TRATANDO DAS INVOICES===============================================================
	-- BUSCO TODAS AS INVOICES NO PERIODO INFORMADO QUE POSSUEM VALOR PARA INTEGRACAO COM O ESTOQUE
	SELECT 
		U10.UKEY AS UKEY,
		U10.U10_001_C AS NF,
		ISNULL(SUM(round(D14.D14_004_B,2)),0) AS VALOR_ESTOQUE,
		U08.U08_001_B AS VALOR_INVOICE,
		U10.U10_004_D AS EMISSAO,
		0 AS CANCELADA,
		LTRIM(RTRIM(A08.A08_003_C)) AS FORNECEDOR,
		CAST('INVOICE' AS CHAR(254)) AS OBS,
		CAST(CIA.CIA_001_C AS CHAR(254)) AS EMPRESA,
		D13.UKEY AS D13_UKEY,
		(SELECT TOP 1 ISNULL(T04.UKEY,'')  FROM STARWESTCON.DBO.T04 (NOLOCK) 
			INNER JOIN STARWESTCON.DBO.T39 (NOLOCK) ON T39.T04_UKEY = T04.UKEY
			INNER JOIN STARWESTCON.DBO.T38 (NOLOCK) ON T39.T38_UKEY = T38.UKEY
			INNER JOIN STARWESTCON.DBO.U11 (NOLOCK) ON U11.T04_UKEY = T04.UKEY
			WHERE U11.U10_UKEY = U10.UKEY AND T38.T38_001_C = '2.02.01.01.01.003') AS T04_UKEY
	INTO #TMP_INV -- ARMAZENO AS NOTAS NO CURSOR TEMPORÁRIO DE NOTAS
	FROM
		StarWestcon.dbo.U10 U10 (NOLOCK)
		INNER JOIN StarWestcon.dbo.A08 A08 (NOLOCK) ON U10.A08_UKEYA = A08.UKEY
		INNER JOIN StarWestcon.dbo.CIA CIA (NOLOCK) ON U10.CIA_UKEY = CIA.UKEY
		LEFT JOIN StarWestcon.dbo.U08 U08 (NOLOCK) ON U08.U08_UKEYP = U10.UKEY
		LEFT JOIN StarWestcon.dbo.D13 D13 (NOLOCK) ON D13.D13_IUKEYP = U10.UKEY AND D13.D13_999_C = '001' -- SOMENTE NOTAS QUE GERARAM ENTRADA DE MATERIAIS
		LEFT JOIN StarWestcon.dbo.D14 D14 (NOLOCK) ON D14.D13_UKEY = D13.UKEY
	WHERE
		U10.U10_004_D BETWEEN @initial_date AND @final_date
		AND (U08.ARRAY_241 = 4 AND U08.U08_001_B > 0) -- NOTAS QUE POSSUEM VALOR PARA INTEGRACAO COM O ESTOQUE
	GROUP BY
		U10.UKEY, U10.U10_001_C, U10.U10_004_D, A08.A08_003_C, CIA.CIA_001_C, D13.UKEY, U08_001_B


	--INSIRO NO CURSOR DO RESULTADO AS NOTAS COM LANÇAMENTO CONTÁBIL
	INSERT INTO #TMP_RESULTADO -- ARMAZENO AS NOTAS QUE APRESENTARAM DIFERENÇA EM UM CURSOR TEMPORÁRIO
	SELECT 
	OPERACAO,
	DOCUMENTO,
	VALOR_DOCUMENTO,
	VALOR_ESTOQUE,
	EMISSAO AS EMISSAO,
	CLIENTE,
	LANCAMENTO,
	VALOR_RAZAO,
	HISTORICO,
	CAST(CASE WHEN CANCELADA = 1 AND VALOR_DOCUMENTO = 0 THEN 'CANCELADO MAS TEM LANCAMENTO NA CONTABILIDADE' 
								WHEN CANCELADA = 1 AND VALOR_ESTOQUE > 0 THEN 'CANCELADO MAS TEM MOVIMENTO NO ESTOQUE' 
								WHEN VALOR_ESTOQUE = 0 THEN 'NAO TEM MOVIMENTO NO ESTOQUE MAS TEM LANCAMENTO NA CONTABILIDADE' 
								WHEN VALOR_DOCUMENTO = VALOR_RAZAO THEN 'SEM ERRO'
								WHEN T04_UKEY <> '' AND D13_UKEY = '' THEN 'CES CONFIGURADA PARA INTEGRAR ESTOQUE E NÃO TEM MOVIMENTO'
						ELSE  
								'DIFERENCA ENTRE ESTOQUE E CONTABILIDADE'
						END 
					AS CHAR(254)) AS MOTIVO,
	OBSERVACAO,
	EMPRESA,
	DOCUMENTO_UKEY
	FROM (
		SELECT 'INV' AS OPERACAO,
				CAST(TMP_INV.NF AS VARCHAR(254)) AS DOCUMENTO,
				CAST(TMP_INV.VALOR_ESTOQUE AS MONEY) AS VALOR_ESTOQUE,
				CAST(TMP_INV.VALOR_INVOICE AS MONEY) AS VALOR_DOCUMENTO,
				CONVERT(VARCHAR(10),TMP_INV.EMISSAO, 105) AS EMISSAO,
				CAST(TMP_INV.FORNECEDOR AS VARCHAR(254)) AS CLIENTE,
				CAST(ISNULL(TMP_RAZAO.LANCAMENTO,'') AS VARCHAR(254)) AS LANCAMENTO,
				--(SELECT SUM(ISNULL(#TMP_RAZAO.VALORLANCAMENTO,0)) FROM #TMP_RAZAO WHERE B06_UKEYP = TMP_NFS.UKEY) AS VALOR_RAZAO,
				cast(TMP_RAZAO.VALORLANCAMENTO as money) AS VALOR_RAZAO,
				CAST(ISNULL(TMP_RAZAO.HISTORICO,'') AS VARCHAR(254)) AS HISTORICO,
				TMP_INV.CANCELADA AS CANCELADA,
				CAST(TMP_INV.OBS AS VARCHAR(254)) AS OBSERVACAO,
				TMP_INV.EMPRESA AS EMPRESA,
				TMP_INV.UKEY AS DOCUMENTO_UKEY,
				TMP_INV.T04_UKEY,
				TMP_INV.D13_UKEY
		FROM #TMP_INV AS TMP_INV
		JOIN #TMP_RAZAO AS TMP_RAZAO ON TMP_RAZAO.B06_UKEYP = TMP_INV.UKEY 
		)TMP
	--GROUP BY TMP_NF.UKEY, TMP_NF.NF, TMP_NF.VALOR, TMP_NF.EMISSAO, TMP_NF.CLIENTE, TMP_RAZAO.LANCAMENTO, TMP_RAZAO.HISTORICO, TMP_NF.EMPRESA, TMP_NF.CANCELADA, TMP_RAZAO.VALORLANCAMENTO, TMP_NF.OBS

	--DELETO AS NOTAS QUE FORAM TRATADAS
	DELETE #TMP_INV WHERE UKEY IN (SELECT UKEY FROM #TMP_RESULTADO)

	--DELETO OS LANÇAMENTOS QUE JÁ FORAM TRATADOS
	DELETE #TMP_RAZAO WHERE LANCAMENTO IN (SELECT LANCAMENTO FROM #TMP_RESULTADO)

	-- ARMAZENO AS DEMAIS NOTAS NO CURSOR DE RESULTADO
	INSERT INTO #TMP_RESULTADO 
	-- NF SEM TRATAMENTO
	SELECT 
			'INV' AS OPERACAO,
			TMP_INV.NF AS DOCUMENTO,
			TMP_INV.VALOR_INVOICE AS VALOR_DOCUMENTO,
			TMP_INV.VALOR_ESTOQUE AS VALOR_ESTOQUE,
			CONVERT(VARCHAR(10), TMP_INV.EMISSAO, 105) AS EMISSAO,
			TMP_INV.FORNECEDOR AS CLIENTE,
			'' AS LANCAMENTO,
			0 AS VALOR_RAZAO,
			'' AS HISTORICO,
			CAST( CASE WHEN TMP_INV.CANCELADA = 1 AND TMP_INV.VALOR_ESTOQUE > 0 THEN 'CANCELADO MAS TEM DOCUMENTO NO ESTOQUE' WHEN TMP_INV.CANCELADA = 0 AND TMP_INV.VALOR_ESTOQUE > 0 THEN 'NAO TEM LANCAMENTO NA CONTABILIDADE'  ELSE 'SEM ERRO' END AS CHAR(254)) AS MOTIVO,
			RTRIM(TMP_INV.OBS) + ' - ' + CASE WHEN TMP_INV.CANCELADA = 1 THEN 'CANCELADA' ELSE '' END  AS OBSERVACAO,
			TMP_INV.EMPRESA AS EMPRESA,
			TMP_INV.UKEY AS DOCUMENTO_UKEY
	FROM #TMP_INV AS TMP_INV

	DROP TABLE #TMP_INV
	--================================================FINALIZADO O TRATAMENTO DAS INVOICES===============================================================
	
	--================================================TRATANDO DOS LANÇAMENTOS CONTABEIS===============================================================
	-- ARMAZENO AS DEMAIS NOTAS NO CURSOR DE RESULTADO
	INSERT INTO #TMP_RESULTADO 
	-- NF SEM TRATAMENTO
	SELECT 
			'LC' AS OPERACAO,
			ISNULL(TMP_RAZAO.NUMERO_OPERACAO,'') AS DOCUMENTO,
			0 AS VALOR_DOCUMENTO,
			0 AS VALOR_ESTOQUE,
			TMP_RAZAO.DATALANCAMENTO AS EMISSAO,
			ISNULL(TMP_RAZAO.CLIENTE_OPERACAO,'') AS CLIENTE,
			TMP_RAZAO.lancamento AS LANCAMENTO,
			TMP_RAZAO.valorlancamento AS VALOR_RAZAO,
			ISNULL(TMP_RAZAO.HISTORICO,'') AS HISTORICO,
			CAST( 'LANCAMENTO SEM HISTORICO OU DE OPERACAO NAO TRATADA PELO RELATORIO' AS CHAR(254)) AS MOTIVO,
			CAST('LANÇAMENTO' AS CHAR(254)) AS OBSERVACAO,
			CIA_001_C AS EMPRESA,
			TMP_RAZAO.B06_UKEY AS DOCUMENTO_UKEY
	FROM #TMP_RAZAO AS TMP_RAZAO
		JOIN STARWESTCON.DBO.CIA (NOLOCK) ON TMP_RAZAO.CIA_UKEY = CIA.UKEY

	DROP TABLE #TMP_RAZAO
	--================================================FINALIZADO O TRATAMENTO DOS LANÇAMENTOS CONTABEIS===============================================================

	SELECT * FROM #TMP_RESULTADO
	
	-- APAGO OS CURSORES TEMPORÁRIOS
	--DROP TABLE #TMP_RAZAO
	--DROP TABLE #TMP_QUITACAO
	--DROP TABLE #TMP_RESULTADO

END