USE [Westcon]
GO
/****** Object:  StoredProcedure [Starsoft].[Reports_TitulosPagar_ComInf_Pagamento_new]    Script Date: 26/08/2016 17:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*

*- Alterado por ELCruz em 22/07/13
- Implementação para permitir o filtro de títulos a pagar cadastrados manualmente ao invés de somente títulos originados de NF de entrada.
- Implementação para considerar títulos cadastrados para cliente também ao invés de somente títulos cadastrados para fornecedores

2013-07-09
Alterado por JM.
Incluídas as faixas de aging

2015-03-27
Alterado por Thiago Rodrigues
Atividade 14424 do ScrumO
Pego os totais dos eventos 
*/
-- exec [Starsoft].[Reports_TitulosPagar_ComInf_Pagamento] 1,'20150101','20160601','91-1144442','',1,0,'', null,null,''

ALTER PROCEDURE [Starsoft].[Reports_TitulosPagar_ComInf_Pagamento_new]
(   @CODERP INT,
	@PLD_EMISSAOINICIAL DATE,
	@PLD_EMISSAOFINAL DATE,
	@PLC_CODFORNECEDOR VARCHAR(20),
	@PLC_NOMFORNECEDOR VARCHAR(254),
	@TrazerQuitado bit,
	@Divisao int,
	@PLC_Moeda varchar (5),
	@PLD_DataVencimentoInicio date = null ,
	@PLD_DataVencimentoFim date = null ,
	@PLC_Invoice varchar(10)
)
AS

-- PRION - 24/11/2015
Declare @CIA_UKEY as varchar(20) = ''
Declare @CIA_UKEY1 as varchar(20) = ''

--By ELcruz - 17/12/2017
-- solução paliativa pois quando a divisao vem com zero no parâmetro não é retornado a cia_ukey
IF (@Divisao <> 0) -- NAO RETORNA A CIA_UKEY QUANDO A DIVISAO É ZERO
	SELECT @CIA_UKEY = CIA_UKEY FROM [intranet].[CiaUkey] (@CODERP,@Divisao)
ELSE
	BEGIN
		-- SE FOR CALA OU COLOMBIA DEVO SETAR A CIAUKEY MANUALMENTE DEVIDO AO COMPARTILHAMENTO DO BANCO
		IF @CODERP = 2 -- CALA
			SET @CIA_UKEY = 'STAR_'
		ELSE
			BEGIN
				IF @CODERP = 4 -- COLOMBIA
					SET @CIA_UKEY = 'M8530'
					SET @CIA_UKEY1 = 'M8531'
			END
	END

IF @CODERP = 1
BEGIN

	SET NOCOUNT ON;

	-- Busco todos os títulos a PAGAR e demonstro o total pago, ultima data de pagamento e o ultimo evento do cnab
	SELECT

	
	substring (f14.A36_CODE0,1,3) AS 'Currency', -- campo com moeda da parcela
		F11.F11_001_C NF,
		F14.F14_001_C PARCELA,
		F11.F11_002_D EMISSAO,
		F14.F14_003_D VENCIMENTO,
		QP.DATA_PAGAMENTO DATA_PAGAMENTO,
		A08.A08_003_C NOME,
		A08.A08_001_C CODIGO,	
		isnull(A02.A02_002_C,'') as 'Vendor_Type',	-- Incluso por rpaulista - 29/05/2015 - Scrum 14547
		F14.F14_010_B VALOR_PARCELA,
		ISNULL(QP.VALOR_PAGO,0) VALOR_PAGO,
		F14.F14_010_B - F14.F14_029_B - F14.F14_025_B - F14.F14_021_B - F14.F14_022_B VALOR_ABERTO,
		ISNULL(
				(
					SELECT TOP 1 A55.A55_002_C
					FROM STARWESTCON.DBO.F35 F35 (NOLOCK)
					INNER JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F35.F18_UKEY = F18.UKEY 
					INNER JOIN STARWESTCON.DBO.F14 F14T (NOLOCK) ON F35.F14_UKEY = F14T.UKEY
					INNER JOIN STARWESTCON.DBO.A01 A01 (NOLOCK) ON F14T.A01_UKEY = A01.UKEY
					INNER JOIN STARWESTCON.DBO.A55 A55 (NOLOCK) ON A55.A01_UKEY = A01.UKEY 
					LEFT JOIN STARWESTCON.DBO.F26 F26 (NOLOCK) ON A55.F26_UKEY = F26.UKEY
					WHERE F18_002_C = '026' AND F14T.UKEY = F14.UKEY AND (A55.F26_UKEY = F35.F26_UKEY OR A55.A55_001_C = F35.F35_028_C)
					ORDER BY ISNULL(F35.F35_017_D, F35.F35_021_D) DESC
				)
		,'')ULTIMO_EVENTO,
		ISNULL(F47.F47_002_C,'') CF,
		CASE WHEN (getdate() - F14.F14_003_D) <= -121 THEN 'Due in 121 days or more'
                   WHEN (getdate() - F14.F14_003_D) >= -120  AND  (getdate() - F14.F14_003_D) <= -91 THEN 'Due in 91 to 120 days'
                   WHEN (getdate() - F14.F14_003_D) >= -90  AND  (getdate() - F14.F14_003_D) <= -61 THEN 'Due in 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -60  AND  (getdate() - F14.F14_003_D) <= -31 THEN 'Due in 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -30  AND  (getdate() - F14.F14_003_D) <= -16 THEN 'Due in 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -15  AND  (getdate() - F14.F14_003_D) <= 0 THEN 'Due in 0 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 0 AND (getdate() - F14.F14_003_D) <= 15 THEN 'Overdue 1 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 15 AND (getdate() - F14.F14_003_D) <= 30 THEN 'Overdue 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) > 30 AND (getdate() - F14.F14_003_D) <= 60 THEN 'Overdue 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) > 60 AND (getdate() - F14.F14_003_D) <= 90 THEN 'Overdue 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) > 90 AND (getdate() - F14.F14_003_D) <= 120 THEN 'Overdue 91 to 120 days' 
                   ELSE 'Overdue more than 120 days' 
                   END AS 'Faixa Atraso',
		F14.F14_501_D AS NOVA_DATA_VENCIMENTO
		-- Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		,isnull(U13.U13_006_B,0) as 'DI_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCON.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCON.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = F11.F11_002_D
						AND A37.A36_UKEY = (select ukey from STARWESTCON.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)		
				), 0.000000
			) as 'Issue_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCON.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCON.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = @PLD_EMISSAOFINAL
						AND A37.A36_UKEY = (select ukey from STARWESTCON.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)			
				), 0.000000
			) as 'Current_Rate',
		-- Fim Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		ISNULL(IR.VALOR,0) AS 'IRRF',
		CASE WHEN F11_IPAR = 'U10' THEN ISNULL((SELECT SUM(U11_013_B) FROM STARWESTCON.DBO.U11 (NOLOCK) INNER JOIN STARWESTCON.DBO.D04 (NOLOCK) ON U11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCON.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 1 AND U11.U10_UKEY = F11.F11_IUKEYP),0)
			ELSE ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCON.DBO.E11 (NOLOCK) INNER JOIN STARWESTCON.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCON.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 1 AND E11.E10_UKEY = F11.F11_IUKEYP),0) END AS 'TOTAL HARDWARE',
		CASE WHEN F11_IPAR = 'U10' THEN ISNULL((SELECT SUM(U11_013_B) FROM STARWESTCON.DBO.U11 (NOLOCK) INNER JOIN STARWESTCON.DBO.D04 (NOLOCK) ON U11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCON.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 5 AND U11.U10_UKEY = F11.F11_IUKEYP),0)
			ELSE ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCON.DBO.E11 (NOLOCK) INNER JOIN STARWESTCON.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCON.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 5 AND E11.E10_UKEY = F11.F11_IUKEYP),0) END AS 'TOTAL SERVICO',
		CASE WHEN F11_IPAR = 'U10' THEN ISNULL((SELECT SUM(U11_013_B) FROM STARWESTCON.DBO.U11 (NOLOCK) INNER JOIN STARWESTCON.DBO.D04 (NOLOCK) ON U11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCON.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 13 AND U11.U10_UKEY = F11.F11_IUKEYP),0)
			ELSE ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCON.DBO.E11 (NOLOCK) INNER JOIN STARWESTCON.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCON.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 13 AND E11.E10_UKEY = F11.F11_IUKEYP),0) END AS 'TOTAL SOFTWARE'
	FROM STARWESTCON.DBO.F14 F14 (NOLOCK)
	JOIN STARWESTCON.DBO.F11 F11 (NOLOCK) ON F14.F11_UKEY = F11.UKEY
	JOIN STARWESTCON.DBO.A08 A08 (NOLOCK) ON F11.A08_UKEY = A08.UKEY	
	LEFT JOIN STARWESTCON.DBO.A02 A02 (NOLOCK) ON A08.A02_UKEY = A02.UKEY -- Incluso por rpaulista - 29/05/2015 - Scrum 14547	
	LEFT JOIN STARWESTCON.DBO.E10 E10 (NOLOCK) ON F11.F11_IUKEYP = E10.UKEY
	LEFT JOIN STARWESTCON.DBO.U13 (NOLOCK) ON E10.U13_UKEY=U13.UKEY  -- Incluso por rpaulista - 29/06/2015 - Scrum 14520
	LEFT JOIN STARWESTCON.DBO.F47 F47 (NOLOCK) ON F14.F47_UKEY = F47.UKEY
	LEFT JOIN (
				SELECT	MAX(F16.F16_011_D) DATA_PAGAMENTO,
						SUM(F16.F16_003_B) VALOR_PAGO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '001' -- EVENTO DE QUITACAO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA QUITACAO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL 
				GROUP BY F16.F14_UKEY
			)QP ON QP.F14_UKEY = F14.UKEY
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ESTORNO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '030' -- EVENTO DE ESTORNO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA ESTORNO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ESTORNO ON ESTORNO.F14_UKEY = F14.UKEY		
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_REPARCELAMENTO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '027' -- EVENTO DO REPARCELAMENTO
					AND F18.F18_004_N = 1 -- EFETIVACAO DO REPARCELAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)REPARC ON REPARC.F14_UKEY = F14.UKEY		
	
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ADIANTAMENTO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				WHERE F16.F16_005_C = '021' -- EVENTO DE ADIANTAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ADT ON ADT.F14_UKEY = F14.UKEY									
	LEFT JOIN (
				SELECT U08.U08_001_B AS VALOR, 
						U08.U08_UKEYP
				FROM STARWESTCON.DBO.U08 (NOLOCK)
				JOIN STARWESTCON.DBO.T08 (NOLOCK) ON U08.T08_UKEY = T08.UKEY
				WHERE T08_001_C = '_IRIMP'
			)IR ON IR.U08_UKEYP = F11.F11_IUKEYP

	WHERE
			F11.F11_016_C = '001' AND
			F11.F11_002_D BETWEEN @PLD_EMISSAOINICIAL AND @PLD_EMISSAOFINAL
			AND ((@PLC_CODFORNECEDOR = '') OR (A08.A08_001_C LIKE @PLC_CODFORNECEDOR + '%'))
			AND ((@PLC_NOMFORNECEDOR = '') OR (A08.A08_003_C LIKE '%' + @PLC_NOMFORNECEDOR + '%'))
			AND (@TrazerQuitado  = 1 OR F14.F14_010_B - ISNULL(VALOR_ESTORNO,0) - ISNULL(VALOR_REPARCELAMENTO,0) - ISNULL(VALOR_PAGO,0) - ISNULL(VALOR_ADIANTAMENTO,0) > 0 )
			AND ((@PLC_Moeda = '') OR (RTRIM(LTRIM(SUBSTRING(F14.A36_CODE0,1,3))) LIKE @PLC_Moeda+'%'))
			AND ((@PLD_DataVencimentoInicio IS NULL OR @PLD_DataVencimentoFim is null) OR (F14.F14_003_D BETWEEN @PLD_DataVencimentoInicio AND @PLD_DataVencimentoFim))
			AND (F11.F11_001_C LIKE @PLC_Invoice+'%')
			
	UNION ALL
	
	SELECT
		substring (f14.A36_CODE0,1,3) AS 'Currency', -- campo com moeda da parcela
		F11.F11_001_C NF,
		F14.F14_001_C PARCELA,
		F11.F11_002_D EMISSAO,
		F14.F14_003_D VENCIMENTO,
		QP.DATA_PAGAMENTO DATA_PAGAMENTO,
		A03.A03_003_C NOME,
		A03.A03_001_C CODIGO,
		isnull(A02.A02_002_C,'') as 'Vendor_Type',	-- Incluso por rpaulista - 29/05/2015 - Scrum 14547
		F14.F14_010_B VALOR_PARCELA,
		ISNULL(QP.VALOR_PAGO,0) VALOR_PAGO,
		F14.F14_010_B - F14.F14_029_B - F14.F14_025_B - F14.F14_021_B - F14.F14_022_B VALOR_ABERTO,
		ISNULL(
				(
					SELECT TOP 1 A55.A55_002_C
					FROM STARWESTCON.DBO.F35 F35 (NOLOCK)
					INNER JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F35.F18_UKEY = F18.UKEY 
					INNER JOIN STARWESTCON.DBO.F14 F14T (NOLOCK) ON F35.F14_UKEY = F14T.UKEY
					INNER JOIN STARWESTCON.DBO.A01 A01 (NOLOCK) ON F14T.A01_UKEY = A01.UKEY
					INNER JOIN STARWESTCON.DBO.A55 A55 (NOLOCK) ON A55.A01_UKEY = A01.UKEY 
					LEFT JOIN STARWESTCON.DBO.F26 F26 (NOLOCK) ON A55.F26_UKEY = F26.UKEY
					WHERE F18_002_C = '026' AND F14T.UKEY = F14.UKEY AND (A55.F26_UKEY = F35.F26_UKEY OR A55.A55_001_C = F35.F35_028_C)
					ORDER BY ISNULL(F35.F35_017_D, F35.F35_021_D) DESC
				)
		,'')ULTIMO_EVENTO,
		ISNULL(F47.F47_002_C,'') CF,
		CASE WHEN (getdate() - F14.F14_003_D) <= -121 THEN 'Due in 121 days or more'
                   WHEN (getdate() - F14.F14_003_D) >= -120  AND  (getdate() - F14.F14_003_D) <= -91 THEN 'Due in 91 to 120 days'
                   WHEN (getdate() - F14.F14_003_D) >= -90  AND  (getdate() - F14.F14_003_D) <= -61 THEN 'Due in 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -60  AND  (getdate() - F14.F14_003_D) <= -31 THEN 'Due in 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -30  AND  (getdate() - F14.F14_003_D) <= -16 THEN 'Due in 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -15  AND  (getdate() - F14.F14_003_D) <= 0 THEN 'Due in 0 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 0 AND (getdate() - F14.F14_003_D) <= 15 THEN 'Overdue 1 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 15 AND (getdate() - F14.F14_003_D) <= 30 THEN 'Overdue 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) > 30 AND (getdate() - F14.F14_003_D) <= 60 THEN 'Overdue 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) > 60 AND (getdate() - F14.F14_003_D) <= 90 THEN 'Overdue 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) > 90 AND (getdate() - F14.F14_003_D) <= 120 THEN 'Overdue 91 to 120 days' 
                   ELSE 'Overdue more than 120 days' 
                   END AS 'Faixa Atraso',
				   F14.F14_501_D AS NOVA_DATA_VENCIMENTO
				   -- Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		,isnull(U13.U13_006_B,0) as 'DI_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCON.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCON.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = F11.F11_002_D
						AND A37.A36_UKEY = (select ukey from STARWESTCON.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)		
				), 0.000000
			) as 'Issue_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCON.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCON.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = @PLD_EMISSAOFINAL
						AND A37.A36_UKEY = (select ukey from STARWESTCON.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)			
				), 0.000000
			) as 'Current_Rate',
		-- Fim Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		ISNULL(IR.VALOR,0) AS 'IRRF',
		CASE WHEN F11_IPAR = 'U10' THEN ISNULL((SELECT SUM(U11_013_B) FROM STARWESTCON.DBO.U11 (NOLOCK) INNER JOIN STARWESTCON.DBO.D04 (NOLOCK) ON U11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCON.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 1 AND U11.U10_UKEY = F11.F11_IUKEYP),0)
			ELSE ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCON.DBO.E11 (NOLOCK) INNER JOIN STARWESTCON.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCON.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 1 AND E11.E10_UKEY = F11.F11_IUKEYP),0) END AS 'TOTAL HARDWARE',
		CASE WHEN F11_IPAR = 'U10' THEN ISNULL((SELECT SUM(U11_013_B) FROM STARWESTCON.DBO.U11 (NOLOCK) INNER JOIN STARWESTCON.DBO.D04 (NOLOCK) ON U11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCON.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 5 AND U11.U10_UKEY = F11.F11_IUKEYP),0)
			ELSE ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCON.DBO.E11 (NOLOCK) INNER JOIN STARWESTCON.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCON.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 5 AND E11.E10_UKEY = F11.F11_IUKEYP),0) END AS 'TOTAL SERVICO',
		CASE WHEN F11_IPAR = 'U10' THEN ISNULL((SELECT SUM(U11_013_B) FROM STARWESTCON.DBO.U11 (NOLOCK) INNER JOIN STARWESTCON.DBO.D04 (NOLOCK) ON U11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCON.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 13 AND U11.U10_UKEY = F11.F11_IUKEYP),0)
			ELSE ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCON.DBO.E11 (NOLOCK) INNER JOIN STARWESTCON.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCON.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 13 AND E11.E10_UKEY = F11.F11_IUKEYP),0) END AS 'TOTAL SOFTWARE'
	FROM STARWESTCON.DBO.F14 F14 (NOLOCK)
	JOIN STARWESTCON.DBO.F11 F11 (NOLOCK) ON F14.F11_UKEY = F11.UKEY
	JOIN STARWESTCON.DBO.A03 A03 (NOLOCK) ON F11.A03_UKEY = A03.UKEY
	LEFT JOIN STARWESTCON.DBO.A02 A02 (NOLOCK) ON A03.A02_UKEY = A02.UKEY -- Incluso por rpaulista - 29/05/2015 - Scrum 14547
	LEFT JOIN STARWESTCON.DBO.E10 E10 (NOLOCK) ON F11.F11_IUKEYP = E10.UKEY
	LEFT JOIN STARWESTCON.DBO.U13 (NOLOCK) ON E10.U13_UKEY=U13.UKEY  -- Incluso por rpaulista - 29/06/2015 - Scrum 14520
	LEFT JOIN STARWESTCON.DBO.F47 F47 (NOLOCK) ON F14.F47_UKEY = F47.UKEY
	LEFT JOIN (
				SELECT	MAX(F16.F16_011_D) DATA_PAGAMENTO,
						SUM(F16.F16_003_B) VALOR_PAGO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '001' -- EVENTO DE QUITACAO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA QUITACAO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL 
				GROUP BY F16.F14_UKEY
			)QP ON QP.F14_UKEY = F14.UKEY
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ESTORNO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '030' -- EVENTO DE ESTORNO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA ESTORNO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ESTORNO ON ESTORNO.F14_UKEY = F14.UKEY		
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_REPARCELAMENTO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCON.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '027' -- EVENTO DO REPARCELAMENTO
					AND F18.F18_004_N = 1 -- EFETIVACAO DO REPARCELAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)REPARC ON REPARC.F14_UKEY = F14.UKEY		
	
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ADIANTAMENTO,
						F16.F14_UKEY
				FROM STARWESTCON.DBO.F16 F16 (NOLOCK) 
				WHERE F16.F16_005_C = '021' -- EVENTO DE ADIANTAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ADT ON ADT.F14_UKEY = F14.UKEY							
			
	LEFT JOIN (
				SELECT U08.U08_001_B AS VALOR, 
						U08.U08_UKEYP
				FROM STARWESTCON.DBO.U08 (NOLOCK)
				JOIN STARWESTCON.DBO.T08 (NOLOCK) ON U08.T08_UKEY = T08.UKEY
				WHERE T08_001_C = '_IRIMP'
			)IR ON IR.U08_UKEYP = F11.F11_IUKEYP
	WHERE
			F11.F11_016_C = '001' AND 
			F11.F11_002_D BETWEEN @PLD_EMISSAOINICIAL AND @PLD_EMISSAOFINAL
			AND ((@PLC_CODFORNECEDOR = '') OR (A03.A03_001_C LIKE @PLC_CODFORNECEDOR + '%'))
			AND ((@PLC_NOMFORNECEDOR = '') OR (A03.A03_003_C LIKE '%' + @PLC_NOMFORNECEDOR + '%'))
			AND (@TrazerQuitado  = 1 OR F14.F14_010_B - ISNULL(VALOR_ESTORNO,0) - ISNULL(VALOR_REPARCELAMENTO,0) - ISNULL(VALOR_PAGO,0) - ISNULL(VALOR_ADIANTAMENTO,0) > 0 )
			AND ((@PLC_Moeda = '') OR (RTRIM(LTRIM(SUBSTRING(F14.A36_CODE0,1,3))) LIKE @PLC_Moeda+'%'))
			AND ((@PLD_DataVencimentoInicio IS NULL OR @PLD_DataVencimentoFim is null) OR (F14.F14_003_D BETWEEN @PLD_DataVencimentoInicio AND @PLD_DataVencimentoFim))
			AND ((@PLC_Invoice = '') OR (F11.F11_001_C LIKE @PLC_Invoice+'%'))

	ORDER BY EMISSAO, NF, PARCELA
	
END


IF @CODERP = 2 or @CODERP = 4 OR  @CODERP = 5
BEGIN

-- Incluso por rpaulista - 15/07/2015 - Scrum 14520
declare @A36_CODE varchar(max) 

if @CODERP = 2 -- Cala
	set @A36_CODE = (SELECT UKEY FROM STARWESTCONCALA2.DBO.A36  WHERE A36.A36_004_N = 1)

if @CODERP = 4 -- Colombia
	set @A36_CODE = (SELECT UKEY FROM STARWESTCONCALA2.WCAL.A36  WHERE A36.A36_004_N = 1)

if @CODERP = 5 -- Peru
	set @A36_CODE = (SELECT UKEY FROM STARWESTCONCALA2.WPERU.A36  WHERE A36.A36_004_N = 1)
-- Fim 15/07/2015 -- 	


	SET NOCOUNT ON;

	-- Busco todos os títulos a PAGAR e demonstro o total pago, ultima data de pagamento e o ultimo evento do cnab
	SELECT		
	substring (f14.A36_CODE0,1,3) AS 'Currency', -- campo com moeda da parcela
		F11.F11_001_C NF,
		F14.F14_001_C PARCELA,
		F11.F11_002_D EMISSAO,
		F14.F14_003_D VENCIMENTO,
		QP.DATA_PAGAMENTO DATA_PAGAMENTO,
		A08.A08_003_C NOME,
		A08.A08_001_C CODIGO,
		isnull(A02.A02_002_C,'') as 'Vendor_Type',	-- Incluso por rpaulista - 29/05/2015 - Scrum 14547
		F14.F14_010_B VALOR_PARCELA,
		ISNULL(QP.VALOR_PAGO,0) VALOR_PAGO,
		F14.F14_010_B - F14.F14_029_B - F14.F14_025_B - F14.F14_021_B - F14.F14_022_B VALOR_ABERTO,
		ISNULL(
				(
					SELECT TOP 1 A55.A55_002_C
					FROM STARWESTCONCALA2.DBO.F35 F35 (NOLOCK)
					INNER JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F35.F18_UKEY = F18.UKEY 
					INNER JOIN STARWESTCONCALA2.DBO.F14 F14T (NOLOCK) ON F35.F14_UKEY = F14T.UKEY
					INNER JOIN STARWESTCONCALA2.DBO.A01 A01 (NOLOCK) ON F14T.A01_UKEY = A01.UKEY
					INNER JOIN STARWESTCONCALA2.DBO.A55 A55 (NOLOCK) ON A55.A01_UKEY = A01.UKEY 
					LEFT JOIN STARWESTCONCALA2.DBO.F26 F26 (NOLOCK) ON A55.F26_UKEY = F26.UKEY
					WHERE F18_002_C = '026' AND F14T.UKEY = F14.UKEY AND (A55.F26_UKEY = F35.F26_UKEY OR A55.A55_001_C = F35.F35_028_C) and F35.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP) 
					ORDER BY ISNULL(F35.F35_017_D, F35.F35_021_D) DESC
				)
		,'')ULTIMO_EVENTO,
		ISNULL(F47.F47_002_C,'') CF,
		CASE WHEN (getdate() - F14.F14_003_D) <= -121 THEN 'Due in 121 days or more'
                   WHEN (getdate() - F14.F14_003_D) >= -120  AND  (getdate() - F14.F14_003_D) <= -91 THEN 'Due in 91 to 120 days'
                   WHEN (getdate() - F14.F14_003_D) >= -90  AND  (getdate() - F14.F14_003_D) <= -61 THEN 'Due in 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -60  AND  (getdate() - F14.F14_003_D) <= -31 THEN 'Due in 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -30  AND  (getdate() - F14.F14_003_D) <= -16 THEN 'Due in 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -15  AND  (getdate() - F14.F14_003_D) <= 0 THEN 'Due in 0 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 0 AND (getdate() - F14.F14_003_D) <= 15 THEN 'Overdue 1 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 15 AND (getdate() - F14.F14_003_D) <= 30 THEN 'Overdue 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) > 30 AND (getdate() - F14.F14_003_D) <= 60 THEN 'Overdue 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) > 60 AND (getdate() - F14.F14_003_D) <= 90 THEN 'Overdue 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) > 90 AND (getdate() - F14.F14_003_D) <= 120 THEN 'Overdue 91 to 120 days' 
                   ELSE 'Overdue more than 120 days' 
                   END AS 'Faixa Atraso',
		 F14.F14_501_D AS NOVA_DATA_VENCIMENTO
		 -- Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		,isnull(U13.U13_006_B,0) as 'DI_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONCALA2.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONCALA2.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = F11.F11_002_D
						AND A37.A36_UKEY = (select ukey from STARWESTCONCALA2.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)		
				), 0.000000
			) as 'Issue_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONCALA2.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONCALA2.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = @PLD_EMISSAOFINAL
						AND A37.A36_UKEY = (select ukey from STARWESTCONCALA2.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)			
				), 0.000000
			) as 'Current_Rate',
		-- Fim Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		ISNULL(IR.VALOR,0) AS 'IRRF',
		ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCONCALA2.DBO.E11 (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCONCALA2.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 1 AND E11.E10_UKEY = E10.UKEY),0) AS 'TOTAL HARDWARE',
		ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCONCALA2.DBO.E11 (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCONCALA2.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 5 AND E11.E10_UKEY = E10.UKEY),0) AS 'TOTAL SERVICO',
		ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCONCALA2.DBO.E11 (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCONCALA2.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 13 AND E11.E10_UKEY = E10.UKEY),0) AS 'TOTAL SOFTWARE'
	FROM STARWESTCONCALA2.DBO.F14 F14 (NOLOCK)
	JOIN STARWESTCONCALA2.DBO.F11 F11 (NOLOCK) ON F14.F11_UKEY = F11.UKEY AND F11.CIA_UKEY IN (@CIA_UKEY,@CIA_UKEY1)
	JOIN STARWESTCONCALA2.DBO.A08 A08 (NOLOCK) ON F11.A08_UKEY = A08.UKEY
	LEFT JOIN STARWESTCONCALA2.DBO.A02 A02 (NOLOCK) ON A08.A02_UKEY = A02.UKEY -- Incluso por rpaulista - 29/05/2015 - Scrum 14547
	LEFT JOIN STARWESTCONCALA2.DBO.E10 E10 (NOLOCK) ON F11.F11_IUKEYP = E10.UKEY
	LEFT JOIN STARWESTCONCALA2.DBO.U13 (NOLOCK) ON E10.U13_UKEY=U13.UKEY  -- Incluso por rpaulista - 29/06/2015 - Scrum 14520
	LEFT JOIN STARWESTCONCALA2.DBO.F47 F47 (NOLOCK) ON F14.F47_UKEY = F47.UKEY
	LEFT JOIN (
				SELECT	MAX(F16.F16_011_D) DATA_PAGAMENTO,
						SUM(F16.F16_003_B) VALOR_PAGO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '001' -- EVENTO DE QUITACAO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA QUITACAO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL 
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)QP ON QP.F14_UKEY = F14.UKEY
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ESTORNO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '030' -- EVENTO DE ESTORNO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA ESTORNO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)ESTORNO ON ESTORNO.F14_UKEY = F14.UKEY		
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_REPARCELAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '027' -- EVENTO DO REPARCELAMENTO
					AND F18.F18_004_N = 1 -- EFETIVACAO DO REPARCELAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)REPARC ON REPARC.F14_UKEY = F14.UKEY		
	
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ADIANTAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				WHERE F16.F16_005_C = '021' -- EVENTO DE ADIANTAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)ADT ON ADT.F14_UKEY = F14.UKEY		
	LEFT JOIN (
				SELECT E04.E04_001_B AS VALOR, 
						E04.E04_UKEYP
				FROM STARWESTCONCALA2.DBO.E04 (NOLOCK)
				JOIN STARWESTCONCALA2.DBO.T08 (NOLOCK) ON E04.T08_UKEY = T08.UKEY
				WHERE T08_001_C = '_IR'
			)IR ON IR.E04_UKEYP = E10.UKEY					
	WHERE
			F11.F11_016_C = '001' AND
			F11.F11_002_D BETWEEN @PLD_EMISSAOINICIAL AND @PLD_EMISSAOFINAL
			AND ((@PLC_CODFORNECEDOR = '') OR (A08.A08_001_C LIKE @PLC_CODFORNECEDOR + '%'))
			AND ((@PLC_NOMFORNECEDOR = '') OR (A08.A08_003_C LIKE '%' + @PLC_NOMFORNECEDOR + '%'))
			AND F14.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP) 
			AND (@TrazerQuitado  = 1 OR F14.F14_010_B - ISNULL(VALOR_ESTORNO,0) - ISNULL(VALOR_REPARCELAMENTO,0) - ISNULL(VALOR_PAGO,0) - ISNULL(VALOR_ADIANTAMENTO,0) > 0 )
			AND ((@PLC_Moeda = '') OR (RTRIM(LTRIM(SUBSTRING(F14.A36_CODE0,1,3))) LIKE @PLC_Moeda+'%'))
			AND ((@PLD_DataVencimentoInicio IS NULL OR @PLD_DataVencimentoFim is null) OR (F14.F14_003_D BETWEEN @PLD_DataVencimentoInicio AND @PLD_DataVencimentoFim))
			AND ((@PLC_Invoice = '') OR (F11.F11_001_C LIKE @PLC_Invoice+'%'))

	UNION ALL
	
	SELECT		
	substring (f14.A36_CODE0,1,3) AS 'Currency', -- campo com moeda da parcela
		F11.F11_001_C NF,
		F14.F14_001_C PARCELA,
		F11.F11_002_D EMISSAO,
		F14.F14_003_D VENCIMENTO,
		QP.DATA_PAGAMENTO DATA_PAGAMENTO,
		A03.A03_003_C NOME,
		A03.A03_001_C CODIGO,
		isnull(A02.A02_002_C,'') as 'Vendor_Type',	-- Incluso por rpaulista - 29/05/2015 - Scrum 14547
		F14.F14_010_B VALOR_PARCELA,
		ISNULL(QP.VALOR_PAGO,0) VALOR_PAGO,
		F14.F14_010_B - F14.F14_029_B - F14.F14_025_B - F14.F14_021_B - F14.F14_022_B VALOR_ABERTO,
		ISNULL(
				(
					SELECT TOP 1 A55.A55_002_C
					FROM STARWESTCONCALA2.DBO.F35 F35 (NOLOCK)
					INNER JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F35.F18_UKEY = F18.UKEY 
					INNER JOIN STARWESTCONCALA2.DBO.F14 F14T (NOLOCK) ON F35.F14_UKEY = F14T.UKEY
					INNER JOIN STARWESTCONCALA2.DBO.A01 A01 (NOLOCK) ON F14T.A01_UKEY = A01.UKEY
					INNER JOIN STARWESTCONCALA2.DBO.A55 A55 (NOLOCK) ON A55.A01_UKEY = A01.UKEY 
					LEFT JOIN STARWESTCONCALA2.DBO.F26 F26 (NOLOCK) ON A55.F26_UKEY = F26.UKEY
					WHERE F18_002_C = '026' AND F14T.UKEY = F14.UKEY AND (A55.F26_UKEY = F35.F26_UKEY OR A55.A55_001_C = F35.F35_028_C) and F35.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP) 
					ORDER BY ISNULL(F35.F35_017_D, F35.F35_021_D) DESC
				)
		,'')ULTIMO_EVENTO,
		ISNULL(F47.F47_002_C,'') CF,
		CASE WHEN (getdate() - F14.F14_003_D) <= -121 THEN 'Due in 121 days or more'
                   WHEN (getdate() - F14.F14_003_D) >= -120  AND  (getdate() - F14.F14_003_D) <= -91 THEN 'Due in 91 to 120 days'
                   WHEN (getdate() - F14.F14_003_D) >= -90  AND  (getdate() - F14.F14_003_D) <= -61 THEN 'Due in 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -60  AND  (getdate() - F14.F14_003_D) <= -31 THEN 'Due in 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -30  AND  (getdate() - F14.F14_003_D) <= -16 THEN 'Due in 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -15  AND  (getdate() - F14.F14_003_D) <= 0 THEN 'Due in 0 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 0 AND (getdate() - F14.F14_003_D) <= 15 THEN 'Overdue 1 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 15 AND (getdate() - F14.F14_003_D) <= 30 THEN 'Overdue 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) > 30 AND (getdate() - F14.F14_003_D) <= 60 THEN 'Overdue 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) > 60 AND (getdate() - F14.F14_003_D) <= 90 THEN 'Overdue 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) > 90 AND (getdate() - F14.F14_003_D) <= 120 THEN 'Overdue 91 to 120 days' 
                   ELSE 'Overdue more than 120 days' 
                   END AS 'Faixa Atraso',
		F14.F14_501_D AS NOVA_DATA_VENCIMENTO
		-- Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		,isnull(U13.U13_006_B,0) as 'DI_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONCALA2.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONCALA2.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = F11.F11_002_D
						AND A37.A36_UKEY = (select ukey from STARWESTCONCALA2.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)		
				), 0.000000
			) as 'Issue_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONCALA2.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONCALA2.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = @PLD_EMISSAOFINAL
						AND A37.A36_UKEY = (select ukey from STARWESTCONCALA2.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)			
				), 0.000000
			) as 'Current_Rate',
		-- Fim Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		ISNULL(IR.VALOR,0) AS 'IRRF',
		ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCONCALA2.DBO.E11 (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCONCALA2.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 1 AND E11.E10_UKEY = E10.UKEY),0) AS 'TOTAL HARDWARE',
		ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCONCALA2.DBO.E11 (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCONCALA2.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 5 AND E11.E10_UKEY = E10.UKEY),0) AS 'TOTAL SERVICO',
		ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCONCALA2.DBO.E11 (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCONCALA2.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 13 AND E11.E10_UKEY = E10.UKEY),0) AS 'TOTAL SOFTWARE'
	FROM STARWESTCONCALA2.DBO.F14 F14 (NOLOCK)
	JOIN STARWESTCONCALA2.DBO.F11 F11 (NOLOCK) ON F14.F11_UKEY = F11.UKEY AND F11.CIA_UKEY IN (@CIA_UKEY,@CIA_UKEY1)
	JOIN STARWESTCONCALA2.DBO.A03 A03 (NOLOCK) ON F11.A03_UKEY = A03.UKEY
	LEFT JOIN STARWESTCONCALA2.DBO.A02 A02 (NOLOCK) ON A03.A02_UKEY = A02.UKEY -- Incluso por rpaulista - 29/05/2015 - Scrum 14547
	LEFT JOIN STARWESTCONCALA2.DBO.E10 E10 (NOLOCK) ON F11.F11_IUKEYP = E10.UKEY
	LEFT JOIN STARWESTCONCALA2.DBO.U13 (NOLOCK) ON E10.U13_UKEY=U13.UKEY  -- Incluso por rpaulista - 29/06/2015 - Scrum 14520
	LEFT JOIN STARWESTCONCALA2.DBO.F47 F47 (NOLOCK) ON F14.F47_UKEY = F47.UKEY
	LEFT JOIN (
				SELECT	MAX(F16.F16_011_D) DATA_PAGAMENTO,
						SUM(F16.F16_003_B) VALOR_PAGO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '001' -- EVENTO DE QUITACAO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA QUITACAO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL 
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)QP ON QP.F14_UKEY = F14.UKEY
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ESTORNO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '030' -- EVENTO DE ESTORNO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA ESTORNO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)ESTORNO ON ESTORNO.F14_UKEY = F14.UKEY		
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_REPARCELAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONCALA2.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '027' -- EVENTO DO REPARCELAMENTO
					AND F18.F18_004_N = 1 -- EFETIVACAO DO REPARCELAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)REPARC ON REPARC.F14_UKEY = F14.UKEY		
	
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ADIANTAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONCALA2.DBO.F16 F16 (NOLOCK) 
				WHERE F16.F16_005_C = '021' -- EVENTO DE ADIANTAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
					AND F16.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP)
				GROUP BY F16.F14_UKEY
			)ADT ON ADT.F14_UKEY = F14.UKEY		
	LEFT JOIN (
				SELECT E04.E04_001_B AS VALOR, 
						E04.E04_UKEYP
				FROM STARWESTCONCALA2.DBO.E04 (NOLOCK)
				JOIN STARWESTCONCALA2.DBO.T08 (NOLOCK) ON E04.T08_UKEY = T08.UKEY
				WHERE T08_001_C = '_IR'
			)IR ON IR.E04_UKEYP = E10.UKEY					
	WHERE
			F11.F11_016_C = '001' AND
			F11.F11_002_D BETWEEN @PLD_EMISSAOINICIAL AND @PLD_EMISSAOFINAL
			AND ((@PLC_CODFORNECEDOR = '') OR (A03.A03_001_C LIKE @PLC_CODFORNECEDOR + '%'))
			AND ((@PLC_NOMFORNECEDOR = '') OR (A03.A03_003_C LIKE '%' + @PLC_NOMFORNECEDOR + '%'))
			AND F14.CIA_UKEY Collate SQL_Latin1_General_CP1_CI_AS = (SELECT CIA_UKEYpadrao FROM tblERP WHERE CodERP = @CodERP) 
			AND (@TrazerQuitado  = 1 OR F14.F14_010_B - ISNULL(VALOR_ESTORNO,0) - ISNULL(VALOR_REPARCELAMENTO,0) - ISNULL(VALOR_PAGO,0) - ISNULL(VALOR_ADIANTAMENTO,0) > 0 )
			AND ((@PLC_Moeda = '') OR (RTRIM(LTRIM(SUBSTRING(F14.A36_CODE0,1,3))) LIKE @PLC_Moeda+'%'))
			AND ((@PLD_DataVencimentoInicio IS NULL OR @PLD_DataVencimentoFim is null) OR (F14.F14_003_D BETWEEN @PLD_DataVencimentoInicio AND @PLD_DataVencimentoFim))
			AND ((@PLC_Invoice = '') OR (F11.F11_001_C LIKE @PLC_Invoice+'%'))

	ORDER BY EMISSAO, NF, PARCELA
	
END

IF @CODERP = 3
BEGIN

	SET NOCOUNT ON;

	-- Busco todos os títulos a PAGAR e demonstro o total pago, ultima data de pagamento e o ultimo evento do cnab
	SELECT
		substring (f14.A36_CODE0,1,3) AS 'Currency', -- campo com moeda da parcela
		F11.F11_001_C NF,
		F14.F14_001_C PARCELA,
		F11.F11_002_D EMISSAO,
		F14.F14_003_D VENCIMENTO,
		QP.DATA_PAGAMENTO DATA_PAGAMENTO,
		A08.A08_003_C NOME,
		A08.A08_001_C CODIGO,
		isnull(A02.A02_002_C,'') as 'Vendor_Type',	-- Incluso por rpaulista - 29/05/2015 - Scrum 14547
		F14.F14_010_B VALOR_PARCELA,
		ISNULL(QP.VALOR_PAGO,0) VALOR_PAGO,
		F14.F14_010_B - F14.F14_029_B - F14.F14_025_B - F14.F14_021_B - F14.F14_022_B VALOR_ABERTO,
		ISNULL(
				(
					SELECT TOP 1 A55.A55_002_C
					FROM STARWESTCONMX.DBO.F35 F35 (NOLOCK)
					INNER JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F35.F18_UKEY = F18.UKEY 
					INNER JOIN STARWESTCONMX.DBO.F14 F14T (NOLOCK) ON F35.F14_UKEY = F14T.UKEY
					INNER JOIN STARWESTCONMX.DBO.A01 A01 (NOLOCK) ON F14T.A01_UKEY = A01.UKEY
					INNER JOIN STARWESTCONMX.DBO.A55 A55 (NOLOCK) ON A55.A01_UKEY = A01.UKEY 
					LEFT JOIN STARWESTCONMX.DBO.F26 F26 (NOLOCK) ON A55.F26_UKEY = F26.UKEY
					WHERE F18_002_C = '026' AND F14T.UKEY = F14.UKEY AND (A55.F26_UKEY = F35.F26_UKEY OR A55.A55_001_C = F35.F35_028_C)
					ORDER BY ISNULL(F35.F35_017_D, F35.F35_021_D) DESC
				)
		,'')ULTIMO_EVENTO,
		ISNULL(F47.F47_002_C,'') CF,
		CASE WHEN (getdate() - F14.F14_003_D) <= -121 THEN 'Due in 121 days or more'
                   WHEN (getdate() - F14.F14_003_D) >= -120  AND  (getdate() - F14.F14_003_D) <= -91 THEN 'Due in 91 to 120 days'
                   WHEN (getdate() - F14.F14_003_D) >= -90  AND  (getdate() - F14.F14_003_D) <= -61 THEN 'Due in 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -60  AND  (getdate() - F14.F14_003_D) <= -31 THEN 'Due in 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -30  AND  (getdate() - F14.F14_003_D) <= -16 THEN 'Due in 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -15  AND  (getdate() - F14.F14_003_D) <= 0 THEN 'Due in 0 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 0 AND (getdate() - F14.F14_003_D) <= 15 THEN 'Overdue 1 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 15 AND (getdate() - F14.F14_003_D) <= 30 THEN 'Overdue 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) > 30 AND (getdate() - F14.F14_003_D) <= 60 THEN 'Overdue 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) > 60 AND (getdate() - F14.F14_003_D) <= 90 THEN 'Overdue 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) > 90 AND (getdate() - F14.F14_003_D) <= 120 THEN 'Overdue 91 to 120 days' 
                   ELSE 'Overdue more than 120 days' 
                   END AS 'Faixa Atraso',
		F14.F14_501_D AS NOVA_DATA_VENCIMENTO
		-- Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		,isnull(U13.U13_006_B,0) as 'DI_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONMX.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONMX.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = F11.F11_002_D
						AND A37.A36_UKEY = (select ukey from STARWESTCONMX.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)		
				), 0.000000
			) as 'Issue_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONMX.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONMX.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = @PLD_EMISSAOFINAL
						AND A37.A36_UKEY = (select ukey from STARWESTCONMX.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)			
				), 0.000000
			) as 'Current_Rate',
		-- Fim Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		ISNULL(IR.VALOR,0) AS 'IRRF',
		ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCONMX.DBO.E11 (NOLOCK) INNER JOIN STARWESTCONMX.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCONMX.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 1 AND E11.E10_UKEY = E10.UKEY),0) AS 'TOTAL HARDWARE',
		ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCONMX.DBO.E11 (NOLOCK) INNER JOIN STARWESTCONMX.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCONMX.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 5 AND E11.E10_UKEY = E10.UKEY),0) AS 'TOTAL SERVICO',
		ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCONMX.DBO.E11 (NOLOCK) INNER JOIN STARWESTCONMX.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCONMX.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 13 AND E11.E10_UKEY = E10.UKEY),0) AS 'TOTAL SOFTWARE'
	FROM STARWESTCONMX.DBO.F14 F14 (NOLOCK)
	JOIN STARWESTCONMX.DBO.F11 F11 (NOLOCK) ON F14.F11_UKEY = F11.UKEY
	JOIN STARWESTCONMX.DBO.A08 A08 (NOLOCK) ON F11.A08_UKEY = A08.UKEY
	LEFT JOIN STARWESTCONMX.DBO.A02 A02 (NOLOCK) ON A08.A02_UKEY = A02.UKEY -- Incluso por rpaulista - 29/05/2015 - Scrum 14547
	LEFT JOIN STARWESTCONMX.DBO.E10 E10 (NOLOCK) ON F11.F11_IUKEYP = E10.UKEY
	LEFT JOIN STARWESTCONMX.DBO.U13 (NOLOCK) ON E10.U13_UKEY=U13.UKEY  -- Incluso por rpaulista - 29/06/2015 - Scrum 14520
	LEFT JOIN STARWESTCONMX.DBO.F47 F47 (NOLOCK) ON F14.F47_UKEY = F47.UKEY
	LEFT JOIN (
				SELECT	MAX(F16.F16_011_D) DATA_PAGAMENTO,
						SUM(F16.F16_003_B) VALOR_PAGO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '001' -- EVENTO DE QUITACAO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA QUITACAO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL 
				GROUP BY F16.F14_UKEY
			)QP ON QP.F14_UKEY = F14.UKEY
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ESTORNO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '030' -- EVENTO DE ESTORNO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA ESTORNO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ESTORNO ON ESTORNO.F14_UKEY = F14.UKEY		
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_REPARCELAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '027' -- EVENTO DO REPARCELAMENTO
					AND F18.F18_004_N = 1 -- EFETIVACAO DO REPARCELAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)REPARC ON REPARC.F14_UKEY = F14.UKEY		
	
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ADIANTAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				WHERE F16.F16_005_C = '021' -- EVENTO DE ADIANTAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ADT ON ADT.F14_UKEY = F14.UKEY		
	LEFT JOIN (
				SELECT E04.E04_001_B AS VALOR, 
						E04.E04_UKEYP
				FROM STARWESTCONMX.DBO.E04 (NOLOCK)
				JOIN STARWESTCONMX.DBO.T08 (NOLOCK) ON E04.T08_UKEY = T08.UKEY
				WHERE T08_001_C = '_IR'
			)IR ON IR.E04_UKEYP = E10.UKEY					
	WHERE
			F11.F11_016_C = '001' AND
			F11.F11_002_D BETWEEN @PLD_EMISSAOINICIAL AND @PLD_EMISSAOFINAL
			AND ((@PLC_CODFORNECEDOR = '') OR (A08.A08_001_C LIKE @PLC_CODFORNECEDOR + '%'))
			AND ((@PLC_NOMFORNECEDOR = '') OR (A08.A08_003_C LIKE '%' + @PLC_NOMFORNECEDOR + '%'))
			AND (@TrazerQuitado  = 1 OR F14.F14_010_B - ISNULL(VALOR_ESTORNO,0) - ISNULL(VALOR_REPARCELAMENTO,0) - ISNULL(VALOR_PAGO,0) - ISNULL(VALOR_ADIANTAMENTO,0) > 0 )
			AND ((@PLC_Moeda = '') OR (RTRIM(LTRIM(SUBSTRING(F14.A36_CODE0,1,3))) LIKE @PLC_Moeda+'%'))
			AND ((@PLD_DataVencimentoInicio IS NULL OR @PLD_DataVencimentoFim is null) OR (F14.F14_003_D BETWEEN @PLD_DataVencimentoInicio AND @PLD_DataVencimentoFim))
			AND ((@PLC_Invoice = '') OR (F11.F11_001_C LIKE @PLC_Invoice+'%'))

	UNION ALL
	
	SELECT
		substring (f14.A36_CODE0,1,3) AS 'Currency', -- campo com moeda da parcela
		F11.F11_001_C NF,
		F14.F14_001_C PARCELA,
		F11.F11_002_D EMISSAO,
		F14.F14_003_D VENCIMENTO,
		QP.DATA_PAGAMENTO DATA_PAGAMENTO,
		A03.A03_003_C NOME,
		A03.A03_001_C CODIGO,
		isnull(A02.A02_002_C,'') as 'Vendor_Type',	-- Incluso por rpaulista - 29/05/2015 - Scrum 14547
		F14.F14_010_B VALOR_PARCELA,
		ISNULL(QP.VALOR_PAGO,0) VALOR_PAGO,
		F14.F14_010_B - F14.F14_029_B - F14.F14_025_B - F14.F14_021_B - F14.F14_022_B VALOR_ABERTO,
		ISNULL(
				(
					SELECT TOP 1 A55.A55_002_C
					FROM STARWESTCONMX.DBO.F35 F35 (NOLOCK)
					INNER JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F35.F18_UKEY = F18.UKEY 
					INNER JOIN STARWESTCONMX.DBO.F14 F14T (NOLOCK) ON F35.F14_UKEY = F14T.UKEY
					INNER JOIN STARWESTCONMX.DBO.A01 A01 (NOLOCK) ON F14T.A01_UKEY = A01.UKEY
					INNER JOIN STARWESTCONMX.DBO.A55 A55 (NOLOCK) ON A55.A01_UKEY = A01.UKEY 
					LEFT JOIN STARWESTCONMX.DBO.F26 F26 (NOLOCK) ON A55.F26_UKEY = F26.UKEY
					WHERE F18_002_C = '026' AND F14T.UKEY = F14.UKEY AND (A55.F26_UKEY = F35.F26_UKEY OR A55.A55_001_C = F35.F35_028_C)
					ORDER BY ISNULL(F35.F35_017_D, F35.F35_021_D) DESC
				)
		,'')ULTIMO_EVENTO,
		ISNULL(F47.F47_002_C,'') CF,
		CASE WHEN (getdate() - F14.F14_003_D) <= -121 THEN 'Due in 121 days or more'
                   WHEN (getdate() - F14.F14_003_D) >= -120  AND  (getdate() - F14.F14_003_D) <= -91 THEN 'Due in 91 to 120 days'
                   WHEN (getdate() - F14.F14_003_D) >= -90  AND  (getdate() - F14.F14_003_D) <= -61 THEN 'Due in 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -60  AND  (getdate() - F14.F14_003_D) <= -31 THEN 'Due in 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -30  AND  (getdate() - F14.F14_003_D) <= -16 THEN 'Due in 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) >= -15  AND  (getdate() - F14.F14_003_D) <= 0 THEN 'Due in 0 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 0 AND (getdate() - F14.F14_003_D) <= 15 THEN 'Overdue 1 to 15 days' 
                   WHEN (getdate() - F14.F14_003_D) > 15 AND (getdate() - F14.F14_003_D) <= 30 THEN 'Overdue 16 to 30 days' 
                   WHEN (getdate() - F14.F14_003_D) > 30 AND (getdate() - F14.F14_003_D) <= 60 THEN 'Overdue 31 to 60 days' 
                   WHEN (getdate() - F14.F14_003_D) > 60 AND (getdate() - F14.F14_003_D) <= 90 THEN 'Overdue 61 to 90 days' 
                   WHEN (getdate() - F14.F14_003_D) > 90 AND (getdate() - F14.F14_003_D) <= 120 THEN 'Overdue 91 to 120 days' 
                   ELSE 'Overdue more than 120 days' 
                   END AS 'Faixa Atraso',
		F14.F14_501_D AS NOVA_DATA_VENCIMENTO
		-- Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		,isnull(U13.U13_006_B,0) as 'DI_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONMX.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONMX.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = F11.F11_002_D
						AND A37.A36_UKEY = (select ukey from STARWESTCONMX.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)		
				), 0.000000
			) as 'Issue_Rate'
		,ISNULL
			(
				(
					SELECT 
						A37.A37_002_B 
								
					FROM 
						STARWESTCONMX.DBO.A36 (NOLOCK) INNER JOIN 
						STARWESTCONMX.DBO.A37 (NOLOCK) ON A37.A36_UKEY = A36.UKEY 
							
					WHERE 
						A36.A36_004_N != 1
						AND A37.A37_001_D = @PLD_EMISSAOFINAL
						AND A37.A36_UKEY = (select ukey from STARWESTCONMX.DBO.A36 (nolock) where A36.A36_004_N = 1 )
						AND A37.A36_UKEYA = substring (f14.A36_CODE0,1,5)			
				), 0.000000
			) as 'Current_Rate',
		-- Fim Incluso por rpaulista - 02/06/2015 - Scrum 14520 --
		ISNULL(IR.VALOR,0) AS 'IRRF',
		ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCONMX.DBO.E11 (NOLOCK) INNER JOIN STARWESTCONMX.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCONMX.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 1 AND E11.E10_UKEY = E10.UKEY),0) AS 'TOTAL HARDWARE',
		ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCONMX.DBO.E11 (NOLOCK) INNER JOIN STARWESTCONMX.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCONMX.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 5 AND E11.E10_UKEY = E10.UKEY),0) AS 'TOTAL SERVICO',
		ISNULL((SELECT SUM(E11_021_B) FROM STARWESTCONMX.DBO.E11 (NOLOCK) INNER JOIN STARWESTCONMX.DBO.D04 (NOLOCK) ON E11.D04_UKEY = D04.UKEY INNER JOIN STARWESTCONMX.DBO.T05 (NOLOCK) ON D04.T05_UKEY = T05.UKEY WHERE T05.ARRAY_051A = 13 AND E11.E10_UKEY = E10.UKEY),0) AS 'TOTAL SOFTWARE'
	FROM STARWESTCONMX.DBO.F14 F14 (NOLOCK)
	JOIN STARWESTCONMX.DBO.F11 F11 (NOLOCK) ON F14.F11_UKEY = F11.UKEY
	JOIN STARWESTCONMX.DBO.A03 A03 (NOLOCK) ON F11.A03_UKEY = A03.UKEY
	LEFT JOIN STARWESTCONMX.DBO.A02 A02 (NOLOCK) ON A03.A02_UKEY = A02.UKEY -- Incluso por rpaulista - 29/05/2015 - Scrum 14547
	LEFT JOIN STARWESTCONMX.DBO.E10 E10 (NOLOCK) ON F11.F11_IUKEYP = E10.UKEY
	LEFT JOIN STARWESTCONMX.DBO.U13 (NOLOCK) ON E10.U13_UKEY=U13.UKEY  -- Incluso por rpaulista - 29/06/2015 - Scrum 14520
	LEFT JOIN STARWESTCONMX.DBO.F47 F47 (NOLOCK) ON F14.F47_UKEY = F47.UKEY
	LEFT JOIN (
				SELECT	MAX(F16.F16_011_D) DATA_PAGAMENTO,
						SUM(F16.F16_003_B) VALOR_PAGO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '001' -- EVENTO DE QUITACAO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA QUITACAO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL 
				GROUP BY F16.F14_UKEY
			)QP ON QP.F14_UKEY = F14.UKEY
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ESTORNO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '030' -- EVENTO DE ESTORNO
					AND F18.F18_004_N = 1 -- EFETIVACAO DA ESTORNO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ESTORNO ON ESTORNO.F14_UKEY = F14.UKEY		
			
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_REPARCELAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				JOIN STARWESTCONMX.DBO.F18 F18 (NOLOCK) ON F16.F18_UKEY = F18.UKEY
				WHERE F16.F16_005_C = '027' -- EVENTO DO REPARCELAMENTO
					AND F18.F18_004_N = 1 -- EFETIVACAO DO REPARCELAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)REPARC ON REPARC.F14_UKEY = F14.UKEY		
	
	LEFT JOIN (
				SELECT	SUM(F16.F16_003_B) VALOR_ADIANTAMENTO,
						F16.F14_UKEY
				FROM STARWESTCONMX.DBO.F16 F16 (NOLOCK) 
				WHERE F16.F16_005_C = '021' -- EVENTO DE ADIANTAMENTO
					AND F16.F16_004_D <= @PLD_EMISSAOFINAL
				GROUP BY F16.F14_UKEY
			)ADT ON ADT.F14_UKEY = F14.UKEY		
	LEFT JOIN (
				SELECT E04.E04_001_B AS VALOR, 
						E04.E04_UKEYP
				FROM STARWESTCONMX.DBO.E04 (NOLOCK)
				JOIN STARWESTCONMX.DBO.T08 (NOLOCK) ON E04.T08_UKEY = T08.UKEY
				WHERE T08_001_C = '_IR'
			)IR ON IR.E04_UKEYP = E10.UKEY					
	WHERE
			F11.F11_016_C = '001' AND
			F11.F11_002_D BETWEEN @PLD_EMISSAOINICIAL AND @PLD_EMISSAOFINAL
			AND ((@PLC_CODFORNECEDOR = '') OR (A03.A03_001_C LIKE @PLC_CODFORNECEDOR + '%'))
			AND ((@PLC_NOMFORNECEDOR = '') OR (A03.A03_003_C LIKE '%' + @PLC_NOMFORNECEDOR + '%'))
			AND (@TrazerQuitado  = 1 OR F14.F14_010_B - ISNULL(VALOR_ESTORNO,0) - ISNULL(VALOR_REPARCELAMENTO,0) - ISNULL(VALOR_PAGO,0) - ISNULL(VALOR_ADIANTAMENTO,0) > 0 )
			AND ((@PLC_Moeda = '') OR (RTRIM(LTRIM(SUBSTRING(F14.A36_CODE0,1,3))) LIKE @PLC_Moeda+'%'))
			AND ((@PLD_DataVencimentoInicio IS NULL OR @PLD_DataVencimentoFim is null) OR (F14.F14_003_D BETWEEN @PLD_DataVencimentoInicio AND @PLD_DataVencimentoFim))
			AND ((@PLC_Invoice = '') OR (F11.F11_001_C LIKE @PLC_Invoice+'%'))

	ORDER BY EMISSAO, NF, PARCELA
	
END




