USE [Westcon]
GO
/****** Object:  StoredProcedure [Starsoft].[228]    Script Date: 11/08/2016 10:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
*- 12/06/2016 - ELCruz
Criada para retornar o saldo dos locais de saída do WMS, pois a consulta pela GetPOBalance estava muito lenta devido ao uso de cursores


*/


-- EXEC [Starsoft].[Report_276] '','','',''
          
alter PROCEDURE [Starsoft].[Report_276]
	@PLC_PO as varchar(20),
	@PLC_PartNumberCode as varchar(254),
	@PLC_WarehouseCode as varchar(100),
	@PLC_OV as varchar(20)
	
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		WMS.PO,
		WMS.CODIGO,
		WMS.OBS,
		WMS.LOCAL,
		CAST(WMS.SEPARADO - WMS.QTD_FATURADA - WMS.SAIDA_PACK + WMS.QTD_NF_DEV - WMS.DEV_SEPARADO AS INT) AS SALDO,
		WMS.OV,
		WMS.NAO_DISPONIVEL,
		WMS.ORDEM,
		WMS.ENTRADA,
		WMS.SAIDA,
		WMS.NOME,
		CAST(vwSaldo.SALDO_FISICO AS INT) AS SALDO_FISICO,
		0 AS SALDO_TOTAL_WMS,
		NULL AS LOCAL_SAIDA,
		isnull((select top 1 serie from [STARSOFT].[FNWMSINVOICEMX](WMS.PO,WMS.CODIGO) ), (select serie from [STARSOFT].[FNWMSENTRADAMX](WMS.PO,WMS.CODIGO) )) serie,
		isnull((select top 1 total_estoque from [STARSOFT].[FNWMSINVOICEMX](WMS.PO,WMS.CODIGO) ),(select total_estoque from [STARSOFT].[FNWMSENTRADAMX](WMS.PO,WMS.CODIGO) )) total_estoque,
		isnull((select top 1 total_entrada from [STARSOFT].[FNWMSINVOICEMX](WMS.PO,WMS.CODIGO) ),(select total_entrada from [STARSOFT].[FNWMSENTRADAMX](WMS.PO,WMS.CODIGO) )) total_entrada
	FROM (
		SELECT	'' AS UKEY,
				WMSM.WMSM_001_C AS PO,    
				RTRIM(D04.D04_001_C) AS CODIGO, 
				'' AS OBS,   
				RTRIM(D07.D07_001_C) AS LOCAL,  
				SUM(WMSM.WMSM_002_B) AS SEPARADO,
				MAX(ISNULL(WMSM_DEV.SALDO,0)) AS DEV_SEPARADO,
				MAX(ISNULL(PACK.QTD,0)) AS SAIDA_PACK,
				MAX(ISNULL(FAT.QTD_FAT ,0)) AS QTD_FATURADA,
				MAX(ISNULL(FAT.QTD_NF_DEV ,0)) AS QTD_NF_DEV,
				MAX(ISNULL(FAT.QTD_DEV_NFDEV ,0)) AS QTD_DEV_NFDEV,
				J07.J07_001_C AS OV,
				D07.D07_502_N NAO_DISPONIVEL,
				'6' AS ORDEM,	
				D07.D07_500_N ENTRADA,
				D07.D07_501_N SAIDA,
				D07PAI.CIA_UKEY_WMS AS CIA_UKEY_WMS,
				RTRIM(D07.D07_002_C) AS NOME,
				J07.UKEY AS J07_UKEY,
				D04.UKEY AS D04_UKEY
		FROM
			STARWESTCONMX.DBO.WMSM WMSM (NOLOCK)
			JOIN STARWESTCONMX.DBO.D07 D07 (NOLOCK) ON WMSM.D07_UKEYD = D07.UKEY
			JOIN STARWESTCONMX.DBO.D04 D04 (NOLOCK) ON WMSM.D04_UKEY = D04.UKEY
			JOIN STARWESTCONMX.DBO.J07 J07 (NOLOCK) ON WMSM.J07_UKEY = J07.UKEY
			JOIN STARWESTCONMX.DBO.J08 J08 (NOLOCK) ON WMSM.J08_UKEY = J08.UKEY
			JOIN STARWESTCONMX.DBO.D07 D07PAI (NOLOCK) ON D07.D07_UKEY = D07PAI.UKEY
			LEFT JOIN (
						SELECT
							WMSM_DEV.D04_UKEY,
							WMSM_DEV.D07_UKEYO,
							WMSM_DEV.J07_UKEY,
							WMSM_DEV.J08_UKEY, 
							WMSM_DEV.WMSM_001_C,
							SUM(WMSM_DEV.WMSM_002_B) AS SALDO
						FROM 
							STARWESTCONMX.DBO.WMSM WMSM_DEV (NOLOCK)
						GROUP BY	
							WMSM_DEV.D04_UKEY,
							WMSM_DEV.D07_UKEYO,
							WMSM_DEV.J07_UKEY,
							WMSM_DEV.J08_UKEY, 
							WMSM_DEV.WMSM_001_C
			) AS WMSM_DEV ON WMSM_DEV.D04_UKEY = D04.UKEY AND WMSM_DEV.D07_UKEYO = D07.UKEY AND WMSM_DEV.J07_UKEY = J07.UKEY AND WMSM_DEV.J08_UKEY = WMSM.J08_UKEY AND WMSM_DEV.WMSM_001_C = WMSM.WMSM_001_C
			LEFT JOIN (
						SELECT
							D22.D04_UKEY,
							D13.J07_UKEY,
							SUM(D22.D22_002_B) AS QTD
						FROM 
							STARWESTCONMX.DBO.D22 (NOLOCK)
							JOIN STARWESTCONMX.DBO.D13 (NOLOCK) ON D22.D13_UKEY = D13.UKEY
						WHERE	
							D22.D22_999_C = '002'
							AND D13.J07_UKEY IS NOT NULL
						GROUP BY
							D22.D04_UKEY,
							D13.J07_UKEY
			) AS PACK ON PACK.J07_UKEY = J07.UKEY AND PACK.D04_UKEY = D04.UKEY
			LEFT JOIN (
					-- BUSCO A QTD FATURADA DO ITEM DA OV E A QTD DEVOLVIDA ATRAVES DE NF DE DEV.
					SELECT
						SUM(J11_NF.J11_003_B) as QTD_FAT,
						SUM(TMP_MOV.QTD_NF_DEV) as QTD_NF_DEV,
						SUM(TMP_MOV.QTD_DEV_NFDEV) as QTD_DEV_NFDEV,
						J11_NF.J11_UKEYP
					FROM
						STARWESTCONMX.DBO.J11 J11_NF (NOLOCK)
						JOIN STARWESTCONMX.DBO.J10 J10_NF (NOLOCK) ON J11_NF.J10_UKEY = J10_NF.UKEY
						LEFT JOIN (
									SELECT	J11_DEV.J11_UKEYP,
											(SELECT SUM(J11_003_B) FROM STARWESTCONMX.DBO.J11 (NOLOCK) WHERE J11_UKEYP = J11_DEV.J11_UKEYP) AS QTD_NF_DEV,
											SUM(WMSM_NFDEV.WMSM_002_B) AS QTD_DEV_NFDEV
									FROM STARWESTCONMX.DBO.J11 J11_DEV (NOLOCK)
									JOIN STARWESTCONMX.DBO.J10 J10_DEV (NOLOCK) ON J11_DEV.J10_UKEY = J10_DEV.UKEY
									LEFT JOIN STARWESTCONMX.DBO.WMSM WMSM_NFDEV (NOLOCK) ON WMSM_NFDEV.J11_UKEY_DEV = J11_DEV.UKEY
									LEFT JOIN STARWESTCONMX.DBO.D07 D07O (NOLOCK) ON WMSM_NFDEV.D07_UKEYO = D07O.UKEY
									JOIN STARWESTCONMX.DBO.T04 T04_DEV (NOLOCK) ON J11_DEV.T04_UKEY = T04_DEV.UKEY
									JOIN STARWESTCONMX.DBO.T39 T39_DEV (NOLOCK) ON T39_DEV.T04_UKEY = T04_DEV.UKEY
									WHERE J10_DEV.J10_032_N =0 -- NOTAS FISCAIS NÃO CANCELADAS
									AND ( (D07O.UKEY IS NULL) OR (D07O.D07_501_N = 1) ) -- SOMENTE MOVIMENTACOES ONDE O LOCAL DE ORIGEM É UM LOCAL DE SAIDA, POIS DEVOLUÇÕES SO ACONTECEM NESSAS CONDICOES
									AND T39_DEV.T38_UKEY = 'STAR_STAR__S820X3PJB' AND T39_DEV.T39_001_N = 1 -- SOMENTE DEVOLUÇÕES QUE INTEGRAM ESTOQUE, POIS NO MX HA DEVOLUÇÕES SOMENTE PARA ACERTO FINANCEIRO
									GROUP BY J11_DEV.J11_UKEYP
						) AS TMP_MOV ON TMP_MOV.J11_UKEYP = J11_NF.UKEY				
					WHERE
						J10_NF.J10_003_D >= '20140405' -- SOMENTE NOTAS EMITIDAS A PARTIR DA DATA DE IMPLANTAÇÃO DO WMS
					GROUP BY
						J11_NF.J11_UKEYP
			) AS FAT ON FAT.J11_UKEYP = J08.UKEY
		WHERE	D07.D07_501_N = 1 AND
				( (ISNULL(@PLC_PO,'') = '') OR (WMSM.WMSM_001_C = @PLC_PO) ) AND
				-- CASO TENHA INFORMADO O PARTNUMBER FACO A CONSULTA DELE MESMO QUE ELE NAO TENHA SALDO FISICO NO SSA NO LOCAL DE SAIDA,
				-- POIS FACO ESSA CONSULTA NO METODO FOL_TREATUPDATETABLES DA TELA DE TRANSFERENCIA PARA LOCAIS ANTES DO COMMIT E NESSE MOMENTO
				-- O SSA JÁ EFETUOU A SAIDA DE SALDO DO LOCAL DE SAIDA PARA ESSE PARTNUMBER, POREM AINDA PRECISO VERIFICAR SE O ITEM PODERA SER MOVIMETADO NO WMS,
				-- CASO CONTRARIO ABORTO A OPERACAO E VOLTA TUDO COMO ESTAVA ANTES, POIS ESSA CONSULTA É ANTES DO COMMIT
				( (ISNULL(@PLC_PartNumberCode,'') = '') OR (D04.D04_001_C = RTRIM(@PLC_PartNumberCode)) ) AND
				( (ISNULL(@PLC_WarehouseCode,'') = '') OR (D07.D07_001_C = @PLC_WarehouseCode) ) AND
				( (ISNULL(@PLC_OV,'') = '') OR (J07.J07_001_C = @PLC_OV) )
		GROUP BY
			D04.UKEY,
			D07.UKEY,
			J07.UKEY,
			WMSM.J08_UKEY,
			WMSM.WMSM_001_C,
			D04.D04_001_C,
			D07.D07_001_C,
			D07.D07_002_C,
			J07.J07_001_C,
			D07.D07_500_N,
			D07.D07_501_N,
			D07.D07_502_N,
			D07PAI.CIA_UKEY_WMS

			UNION ALL

			SELECT	WMSS.UKEY UKEY,
			WMSS.WMSS_001_C PO,    
			D04.D04_001_C CODIGO, 
			WMSS.WMSS_003_C OBS,   
			D07.D07_001_C LOCAL,  
			WMSS.WMSS_002_B SEPARADO,
			0 AS DEV_SEPARADO,
			0 AS SAIDA_PACK,
			0 AS QTD_FATURADA,
			0 AS QTD_NF_DEV,
			0 AS QTD_DEV_NFDEV,
			'' OV,
			D07.D07_502_N NAO_DISPONIVEL,
			CASE	WHEN SUBSTRING(D07.D07_001_C,5,1) = 'P' THEN 1
					WHEN SUBSTRING(D07.D07_001_C,7,1) = 'D' THEN 2
					WHEN SUBSTRING(D07.D07_001_C,7,1) = 'C' THEN 3
					WHEN SUBSTRING(D07.D07_001_C,7,1) = 'B' THEN 4
					WHEN SUBSTRING(D07.D07_001_C,7,1) = 'A' THEN 5
			ELSE '6' END ORDEM,	
			D07.D07_500_N ENTRADA,
			D07.D07_501_N SAIDA,
			D07PAI.CIA_UKEY_WMS AS CIA_UKEY_WMS,
			CASE WHEN SUBSTRING(RTRIM(D07.D07_001_C),5,4) = CASE WHEN len(RTRIM(D07.D07_002_C)) = 4 THEN RTRIM(D07.D07_002_C) ELSE SUBSTRING(RTRIM(D07.D07_002_C),5,4) END THEN Westcon.Starsoft.GetTipoLocalWMSMX(D07.ARRAY_LOCALWMS) ELSE D07.D07_002_C END NOME,
			'' as J07_UKEY,
			D04.UKEY as D04_UKEY
			FROM STARWESTCONMX.DBO.WMSS WMSS (NOLOCK)   
			JOIN STARWESTCONMX.DBO.D04 D04 (NOLOCK)  ON WMSS.D04_UKEY = D04.UKEY  
			JOIN STARWESTCONMX.DBO.D07 D07 (NOLOCK)  ON WMSS.D07_UKEY = D07.UKEY
			JOIN STARWESTCONMX.DBO.D07 D07PAI (NOLOCK) ON D07PAI.D07_001_C = SUBSTRING(D07.D07_001_C, 1, 4)
			WHERE	( (ISNULL(@PLC_PO,'') = '') OR (WMSS.WMSS_001_C = @PLC_PO) ) AND
					( (ISNULL(@PLC_PartNumberCode,'') = '') OR (D04.D04_001_C = RTRIM(@PLC_PartNumberCode)) ) AND
					( (ISNULL(@PLC_WarehouseCode,'') = '') OR (D07.D07_001_C = @PLC_WarehouseCode) ) AND
					(ISNULL(@PLC_OV,'') = '')
	)AS WMS
	LEFT JOIN WESTCON.STARSOFT.WMS_SALDONOLOCALDESAIDAMX vwSaldo (NOLOCK) ON vwSaldo.PARTNUMBER = WMS.CODIGO AND vwSaldo.CODIGO_LOCAL = WMS.LOCAL
	WHERE 
		WMS.SEPARADO - WMS.QTD_FATURADA - WMS.SAIDA_PACK + WMS.QTD_NF_DEV - WMS.DEV_SEPARADO > 0
	ORDER BY WMS.CODIGO, WMS.LOCAL

END