USE [StarWestcon]
GO
/****** Object:  Table [dbo].[B07]    Script Date: 02/06/2018 15:42:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[B07](
	[USR_NOTE] [text] NULL,
	[UKEY] [char](20) NOT NULL DEFAULT (' '),
	[TIMESTAMP] [datetime] NULL,
	[STATUS] [char](10) NOT NULL DEFAULT (' '),
	[SQLCMD] [text] NULL,
	[MYCONTROL] [char](1) NOT NULL DEFAULT (' '),
	[INTEGRATED] [char](26) NOT NULL DEFAULT (' '),
	[CIA_UKEY] [char](5) NOT NULL DEFAULT (' '),
	[A36_CODE0] [char](13) NOT NULL DEFAULT (' '),
	[A36_CODE1] [char](13) NOT NULL DEFAULT (' '),
	[A36_CODE2] [char](13) NOT NULL DEFAULT (' '),
	[A36_CODE3] [char](13) NOT NULL DEFAULT (' '),
	[ARRAY_117] [numeric](3, 0) NOT NULL DEFAULT (0),
	[B05_UKEY] [char](20) NULL,
	[B07_001_B] [numeric](28, 6) NOT NULL DEFAULT (0),
	[B07_002_M] [text] NULL,
	[B07_003_D] [smalldatetime] NULL,
	[B07_004_C] [char](20) NOT NULL DEFAULT (' '),
	[B07_005_D] [smalldatetime] NULL,
	[B07_006_N] [numeric](3, 0) NOT NULL DEFAULT (0),
	[B07_007_B] [numeric](28, 6) NOT NULL DEFAULT (0),
	[B07_008_B] [numeric](28, 6) NOT NULL DEFAULT (0),
	[B07_009_B] [numeric](28, 6) NOT NULL DEFAULT (0),
	[B07_010_N] [numeric](5, 0) NOT NULL DEFAULT (0),
	[B07_011_N] [numeric](1, 0) NOT NULL DEFAULT (0),
	[B07_012_N] [numeric](1, 0) NOT NULL DEFAULT (0),
	[B07_013_C] [char](5) NOT NULL DEFAULT (' '),
	[B07_PAR] [char](20) NOT NULL DEFAULT (' '),
	[B07_UKEYP] [char](20) NOT NULL DEFAULT (' '),
	[B10_UKEY] [char](20) NULL,
	[B11_UKEY] [char](20) NULL,
	[B11_UKEYA] [char](20) NULL,
	[B15_UKEY] [char](20) NULL,
	[B26_UKEY] [char](20) NULL,
	[B07_014_N] [numeric](1, 0) NOT NULL DEFAULT (0),
	[B07_015_N] [numeric](1, 0) NOT NULL DEFAULT (0),
	[B07_016_N] [numeric](1, 0) NOT NULL DEFAULT (0),
	[B07_017_N] [numeric](1, 0) NOT NULL DEFAULT (0),
	[A84_UKEY] [char](20) NULL,
	[B07WB_PAR] [char](20) NOT NULL DEFAULT (' '),
	[B07WB_UKEYP] [char](20) NULL,
	[B07_018_D] [smalldatetime] NULL,
	[B07_019_B] [numeric](28, 6) NOT NULL DEFAULT ((0)),
	[B07_020_D] [smalldatetime] NULL,
	[B07_021_B] [numeric](28, 6) NOT NULL DEFAULT ((0)),
	[B07_PAR0] [char](5) NOT NULL DEFAULT (' '),
	[B07_UKEYP0] [char](20) NOT NULL DEFAULT (' '),
	[A03_UKEY] [char](20) NULL,
	[A08_UKEY] [char](20) NULL,
	[B07_500_C] [char](20) NOT NULL DEFAULT (' '),
	[B07_501_C] [char](10) NOT NULL DEFAULT (' '),
	[B07_502_C] [char](20) NOT NULL DEFAULT (' '),
	[B06_UKEY] [char](20) NOT NULL,
	[B07_502_B] [numeric](28, 6) NOT NULL DEFAULT ((0)),
	[B07_503_B] [numeric](28, 6) NOT NULL DEFAULT ((0)),
	[B07_504_N] [numeric](1, 0) NOT NULL DEFAULT ((0)),
	[B56_UKEY] [char](20) NULL,
	[TMP_B06_UKEY] [char](20) NULL,
 CONSTRAINT [I_B07_10V0N0OS7] PRIMARY KEY CLUSTERED 
(
	[UKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [I_B07_10V0N0ORV]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_10V0N0ORV] ON [dbo].[B07]
(
	[ARRAY_117] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [I_B07_10V0N0ORY]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_10V0N0ORY] ON [dbo].[B07]
(
	[B07_003_D] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_B07_10V0N0ORZ]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_10V0N0ORZ] ON [dbo].[B07]
(
	[B07_004_C] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_B07_10V0N0OS1]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_10V0N0OS1] ON [dbo].[B07]
(
	[B11_UKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_B07_10V0N0OS2]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_10V0N0OS2] ON [dbo].[B07]
(
	[B11_UKEYA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_B07_10V0N0OS3]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_10V0N0OS3] ON [dbo].[B07]
(
	[B15_UKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_B07_10V0N0OS4]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_10V0N0OS4] ON [dbo].[B07]
(
	[B26_UKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_B07_10V0N0OS5]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_10V0N0OS5] ON [dbo].[B07]
(
	[CIA_UKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [I_B07_10V0N0OS6]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_10V0N0OS6] ON [dbo].[B07]
(
	[TIMESTAMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [I_B07_1FL0MSLGL]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_1FL0MSLGL] ON [dbo].[B07]
(
	[B07_010_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [I_B07_1FL0MSLGM]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_1FL0MSLGM] ON [dbo].[B07]
(
	[B07_014_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [I_B07_1FL0MSLGN]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_1FL0MSLGN] ON [dbo].[B07]
(
	[B07_015_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [I_B07_1FL0MSLGO]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_1FL0MSLGO] ON [dbo].[B07]
(
	[B07_016_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Index [I_B07_1FL0MSLGP]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_1FL0MSLGP] ON [dbo].[B07]
(
	[B07_017_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_B07_2O80M1Z6S]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_2O80M1Z6S] ON [dbo].[B07]
(
	[A84_UKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_B07_4NT16IXS8]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_4NT16IXS8] ON [dbo].[B07]
(
	[A03_UKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_B07_4NT16IXS9]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_4NT16IXS9] ON [dbo].[B07]
(
	[A08_UKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_B07_4NT16IXSB]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_4NT16IXSB] ON [dbo].[B07]
(
	[B07_PAR0] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_B07_4NT16IXSC]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [I_B07_4NT16IXSC] ON [dbo].[B07]
(
	[B07_UKEYP0] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx_B07_011_N_B11_UKEY]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [idx_B07_011_N_B11_UKEY] ON [dbo].[B07]
(
	[B07_011_N] ASC,
	[B11_UKEY] ASC
)
INCLUDE ( 	[B07_001_B],
	[B07_UKEYP]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_B07_011_N_B11_UKEY_B07_UKEYP]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [IDX_B07_011_N_B11_UKEY_B07_UKEYP] ON [dbo].[B07]
(
	[B07_011_N] ASC,
	[B11_UKEY] ASC
)
INCLUDE ( 	[B06_UKEY],
	[B07_001_B],
	[B07_UKEYP]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx_b07_ukeyp_b11_ukey_b07_001_b]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [idx_b07_ukeyp_b11_ukey_b07_001_b] ON [dbo].[B07]
(
	[B07_011_N] ASC
)
INCLUDE ( 	[B07_001_B],
	[B07_UKEYP],
	[B11_UKEY]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_CONCILIA_FORNECEDORES]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [IDX_CONCILIA_FORNECEDORES] ON [dbo].[B07]
(
	[B07_012_N] ASC,
	[B11_UKEY] ASC,
	[B07_502_C] ASC
)
INCLUDE ( 	[B06_UKEY],
	[B07_001_B]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx_Nonclustered_B07_ARRAY_117_B06_UKEY_B07_010_N]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [idx_Nonclustered_B07_ARRAY_117_B06_UKEY_B07_010_N] ON [dbo].[B07]
(
	[ARRAY_117] ASC,
	[B06_UKEY] ASC,
	[B07_010_N] ASC
)
INCLUDE ( 	[B11_UKEY]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [OPT_SX_IDX_1A6421478266B2]    Script Date: 02/06/2018 15:42:42 ******/
CREATE NONCLUSTERED INDEX [OPT_SX_IDX_1A6421478266B2] ON [dbo].[B07]
(
	[B06_UKEY] ASC,
	[B07_010_N] ASC
)
INCLUDE ( 	[ARRAY_117],
	[B11_UKEY]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
