USE [Westcon]
GO
/****** Object:  StoredProcedure [Starsoft].[RETENCAOIRCOLOMBIA]    Script Date: 13/10/2015 14:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC [Starsoft].[RETENCAOIRCOLOMBIA] '20150101','20150131', '1102010001','2104040001','',''
          
ALTER PROCEDURE [Starsoft].[RETENCAOIRCOLOMBIA]
	@DATA_INICIAL DATE, --Periodo inicial
	@DATA_FINAL DATE, -- Periodo final
	@CONTA_INI VARCHAR(15), --Codigo da conta inicial
	@CONTA_FINAL VARCHAR(15), --Codigo da conta final
	@NIT_INICIAL VARCHAR(15), --Codigo do NIT inicial
	@NIT_FINAL VARCHAR(15) -- Codigo do NIT final
AS
BEGIN
	SELECT CIA.CIA_069_C AS RAZAO, CIA.CIA_006_C AS NIT, RTRIM(LTRIM(CIA.CIA_003_C))+', '+RTRIM(LTRIM(CIA.CIA_067_C))+ '-'+RTRIM(LTRIM(CIA.CIA_068_C))+' - '+RTRIM(LTRIM(CIA.CIA_002_C)) AS ENDERECO, A24.A24_001_C AS CIDADE,
	A08.A08_003_C AS RAZAO2, A08.A08_010_C AS NIT_FORN, B11.B11_001_C AS CONTA, B11.B11_003_C AS DESC_CONTA, B06.B06_001_C AS LANÇAMENTO, ISNULL(B06.B06_004_M,B07.B07_002_M) AS HISTORICO, B06.B06_002_D AS DATA, B07.B07_001_B AS VALOR_LANC,
	(SELECT 
	CASE WHEN B06_PAR = 'F11' THEN F11.F11_001_C
		WHEN B06_PAR = 'J10' THEN J10.J10_001_C
		WHEN B06_PAR = 'F18' THEN F18.F18_001_C
		WHEN B06_PAR = 'E10' THEN E10.E10_001_C
		WHEN B06_PAR = 'U10' THEN U10.U10_001_C
		WHEN B06_PAR = 'NOM' THEN B06.B06_UKEYP
		WHEN B06_PAR = 'WEXCEL' THEN 'Carga excel'
		ELSE 'Não possui' END) AS DOCUMENTO,
	(SELECT 
	CASE WHEN B06_PAR = 'F11' THEN (SELECT TOP 1 F11T.F11_013_B FROM STARWESTCONCALA2.DBO.F11 F11T (NOLOCK) WHERE F11T.UKEY = B06.B06_UKEYP )
		WHEN B06_PAR = 'J10' THEN (SELECT TOP 1 J06.J06_001_B FROM STARWESTCONCALA2.DBO.J06 (NOLOCK)  WHERE J06.ARRAY_241 = 3 AND J06_UKEYP = B06.B06_UKEYP)
		WHEN B06_PAR = 'F18' THEN (SELECT TOP 1 F18T.F18_900_B FROM STARWESTCONCALA2.DBO.F18 F18T (NOLOCK) WHERE F18T.UKEY = B06.B06_UKEYP)
		WHEN B06_PAR = 'E10' THEN (SELECT TOP 1 E04.E04_001_B FROM STARWESTCONCALA2.DBO.E04 (NOLOCK) WHERE E04.ARRAY_241 = 3 AND E04_UKEYP = B06.B06_UKEYP)
		WHEN B06_PAR = 'U10' THEN (SELECT SUM(U11.U11_013_B) FROM STARWESTCONCALA2.DBO.U11 (NOLOCK) WHERE U11.U10_UKEY = B06.B06_UKEYP)
		WHEN B06_PAR = 'NOM' THEN B07.B07_001_B
		WHEN B06_PAR = 'WEXCEL' THEN B07.B07_001_B
		ELSE B07.B07_001_B END) AS BASE_CALCULO, B06_PAR,
	A40.A40_003_B AS ALIQUOTA
	FROM STARWESTCONCALA2.DBO.B06 (NOLOCK)
	INNER JOIN STARWESTCONCALA2.DBO.CIA (NOLOCK) ON B06.CIA_UKEY = CIA.UKEY
	INNER JOIN STARWESTCONCALA2.DBO.B07 (NOLOCK) ON B07.B06_UKEY = B06.UKEY
	LEFT JOIN STARWESTCONCALA2.DBO.A08 (NOLOCK) ON B07.B07_UKEYP0 = A08.UKEY
	INNER JOIN STARWESTCONCALA2.DBO.B11 (NOLOCK) ON B07.B11_UKEY = B11.UKEY
	INNER JOIN STARWESTCONCALA2.DBO.A40 (NOLOCK) ON B11.A40_UKEY = A40.UKEY
	LEFT JOIN STARWESTCONCALA2.DBO.A24 (NOLOCK) ON CIA.A24_UKEY = A24.UKEY
	LEFT JOIN STARWESTCONCALA2.DBO.F11 (NOLOCK) ON B06.B06_UKEYP = F11.UKEY
	LEFT JOIN STARWESTCONCALA2.DBO.J10 (NOLOCK) ON B06.B06_UKEYP = J10.UKEY
	LEFT JOIN STARWESTCONCALA2.DBO.F18 (NOLOCK) ON B06.B06_UKEYP = F18.UKEY
	LEFT JOIN STARWESTCONCALA2.DBO.E10 (NOLOCK) ON B06.B06_UKEYP = E10.UKEY
	LEFT JOIN STARWESTCONCALA2.DBO.U10 (NOLOCK) ON B06.B06_UKEYP = U10.UKEY
	WHERE (B06.B06_002_D BETWEEN @DATA_INICIAL AND @DATA_FINAL) AND 
	B11.B11_001_C BETWEEN @CONTA_INI AND @CONTA_FINAL AND
	((@NIT_FINAL = '' OR @NIT_INICIAL = '') OR A08.A08_010_C BETWEEN @NIT_INICIAL AND @NIT_FINAL) AND
	A40.ARRAY_COLTAX IN (3,4,5,6,7) AND 
	B06.CIA_UKEY = 'M8530' AND 
	B11.B11_001_C LIKE '2%'
	ORDER BY B06.B06_002_D,B06.B06_001_C
END
