USE [Westcon]
GO
/****** Object:  StoredProcedure [dbo].[RevendaDadosFinanceiros_Intranet]    Script Date: 13/04/2016 16:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [Starsoft].[Reports_Credit]
	@CODERP as int,
	@CustomerID as int -- Número do grupo econômico
AS 

IF @CODERP = 1
	BEGIN	
		SELECT
		(SELECT COUNT(F13A.UKEY) FROM STARWESTCON.DBO.F13 F13A (NOLOCK) INNER JOIN STARWESTCON.DBO.F12 F12A (NOLOCK) ON F13A.F12_UKEY = F12A.UKEY INNER JOIN STARWESTCON.DBO.A03 A03A (NOLOCK) ON F12A.A03_UKEY = A03A.UKEY 
			WHERE A03A.UKEY = A03.UKEY AND (F13A.F13_010_B - (F13A.F13_021_B + F13A.F13_025_B + F13A.F13_029_B)) > 0) AS 'OPEN QTY',
		(SELECT SUM(F13B.F13_010_B - (F13B.F13_021_B + F13B.F13_025_B + F13B.F13_029_B)) FROM STARWESTCON.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCON.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY 
			INNER JOIN STARWESTCON.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY WHERE A03B.UKEY = A03.UKEY) AS 'OPEN',
		(SELECT COUNT(F13C.UKEY) FROM STARWESTCON.DBO.F13 F13C (NOLOCK) INNER JOIN STARWESTCON.DBO.F12 F12C (NOLOCK) ON F13C.F12_UKEY = F12C.UKEY INNER JOIN STARWESTCON.DBO.A03 A03C (NOLOCK) ON F12C.A03_UKEY = A03C.UKEY 
			WHERE A03C.UKEY = A03.UKEY AND F13C.F13_003_D < GETDATE() AND (F13C.F13_010_B - (F13C.F13_021_B + F13C.F13_025_B + F13C.F13_029_B) > 0)) AS 'PAST DUE QDY',
		(SELECT SUM(F13D.F13_010_B - (F13D.F13_021_B + F13D.F13_025_B + F13D.F13_029_B)) FROM STARWESTCON.DBO.F13 F13D (NOLOCK) INNER JOIN STARWESTCON.DBO.F12 F12D (NOLOCK) ON F13D.F12_UKEY = F12D.UKEY 
			INNER JOIN STARWESTCON.DBO.A03 A03D (NOLOCK) ON F12D.A03_UKEY = A03D.UKEY WHERE A03D.UKEY = A03.UKEY AND F13D.F13_003_D < GETDATE()) AS 'PAST DUE',
		(SELECT SUM(F13B.F13_010_B - (F13B.F13_021_B + F13B.F13_025_B + F13B.F13_029_B)) FROM STARWESTCON.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCON.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY 
			INNER JOIN STARWESTCON.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY WHERE A03B.UKEY = A03.UKEY) AS 'OUTSTANDING',
		(SELECT TOP 1 J10_003_D FROM STARWESTCON.DBO.J10 (NOLOCK) WHERE J10.A03_UKEY = A03.UKEY ORDER BY J10_003_D ASC, TIMESTAMP ASC) AS 'FIST PURCHASE DATE',
		(SELECT J06_001_B FROM STARWESTCON.DBO.J06 (NOLOCK) INNER JOIN STARWESTCON.DBO.J10 (NOLOCK) ON J06.J06_UKEYP = J10.UKEY WHERE ARRAY_241 = 1 AND J10.UKEY = 
			(SELECT TOP 1 UKEY FROM STARWESTCON.DBO.J10 J10A (NOLOCK) WHERE J10A.A03_UKEY = A03.UKEY ORDER BY J10_003_D ASC, TIMESTAMP ASC)) AS 'FIRST PURCHASE AMNT',
		(SELECT TOP 1 J10_003_D FROM STARWESTCON.DBO.J10 (NOLOCK) WHERE J10.A03_UKEY = A03.UKEY ORDER BY J10_003_D DESC, TIMESTAMP DESC) AS 'LAST PURCHASE DATE',
		(SELECT J06_001_B FROM STARWESTCON.DBO.J06 (NOLOCK) INNER JOIN STARWESTCON.DBO.J10 (NOLOCK) ON J06.J06_UKEYP = J10.UKEY WHERE ARRAY_241 = 1 AND J10.UKEY = 
			(SELECT TOP 1 UKEY FROM STARWESTCON.DBO.J10 J10A (NOLOCK) WHERE J10A.A03_UKEY = A03.UKEY ORDER BY J10_003_D DESC, TIMESTAMP DESC)) AS 'LAST PURCHASE AMNT',
		(SELECT COUNT(F13A.UKEY) FROM STARWESTCON.DBO.F13 F13A (NOLOCK) INNER JOIN STARWESTCON.DBO.F12 F12A (NOLOCK) ON F13A.F12_UKEY = F12A.UKEY INNER JOIN STARWESTCON.DBO.A03 A03A (NOLOCK) ON F12A.A03_UKEY = A03A.UKEY 
			WHERE A03A.UKEY = A03.UKEY AND (F13A.F13_010_B - (F13A.F13_021_B + F13A.F13_025_B + F13A.F13_029_B)) = 0) AS 'PAID QTY',
		(SELECT SUM(F13B.F13_021_B) FROM STARWESTCON.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCON.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY INNER JOIN STARWESTCON.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY 
			WHERE F13B.F13_021_B < F13B.F13_010_B AND F13B.F13_021_B <> 0 AND A03B.UKEY = A03.UKEY) AS 'PARTIALLY PAID QTY',
		(SELECT COUNT(F13B.UKEY) FROM STARWESTCON.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCON.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY INNER JOIN STARWESTCON.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY 
			WHERE F13B.F13_021_B < F13B.F13_010_B AND F13B.F13_021_B <> 0 AND A03B.UKEY = A03.UKEY) AS 'QUITADO PARCIAL QTY',
		(SELECT MAX(J06_001_B) FROM STARWESTCON.DBO.J10 (NOLOCK) INNER JOIN STARWESTCON.DBO.J06 (NOLOCK) ON J06.J06_UKEYP = J10.UKEY WHERE J10.A03_UKEY = A03.UKEY) AS 'HIGHEST INVOICE',
		(SELECT AVG(DATEDIFF(DAYOFYEAR,F13_003_D , F15_011_D)) FROM STARWESTCON.DBO.F13 (NOLOCK) INNER JOIN STARWESTCON.DBO.F15 (NOLOCK) ON F15.F13_UKEY = F13.UKEY INNER JOIN STARWESTCON.DBO.F12 (NOLOCK) ON F13.F12_UKEY = F12.UKEY
			WHERE F12.A03_UKEY = A03.UKEY) AS 'AVERAGE PAST DUE DAYS'
		FROM STARWESTCON.DBO.A03 (NOLOCK)
		INNER JOIN WESTCON.DBO.TBLEMPRESAAPPLICATION EA (NOLOCK) ON EA.CODIGO = A03.A03_001_C
		INNER JOIN WESTCON.DBO.TBLEMPRESAREL ER WITH (NOLOCK) ON EA.CGC = ER.CGC  
		WHERE ER.CUSTOMERID = @CUSTOMERID
	END

IF @CODERP = 2 
	BEGIN	
		SELECT
		(SELECT COUNT(F13A.UKEY) FROM STARWESTCONCALA2.DBO.F13 F13A (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12A (NOLOCK) ON F13A.F12_UKEY = F12A.UKEY INNER JOIN STARWESTCONCALA2.DBO.A03 A03A (NOLOCK) ON F12A.A03_UKEY = A03A.UKEY 
			WHERE F13A.CIA_UKEY = 'STAR_' AND A03A.UKEY = A03.UKEY AND (F13A.F13_010_B - (F13A.F13_021_B + F13A.F13_025_B + F13A.F13_029_B)) > 0) AS 'OPEN QTY',
		(SELECT SUM(F13B.F13_010_B - (F13B.F13_021_B + F13B.F13_025_B + F13B.F13_029_B)) FROM STARWESTCONCALA2.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY 
			INNER JOIN STARWESTCONCALA2.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY WHERE F13B.CIA_UKEY = 'STAR_' AND A03B.UKEY = A03.UKEY) AS 'OPEN',
		(SELECT COUNT(F13C.UKEY) FROM STARWESTCONCALA2.DBO.F13 F13C (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12C (NOLOCK) ON F13C.F12_UKEY = F12C.UKEY INNER JOIN STARWESTCONCALA2.DBO.A03 A03C (NOLOCK) ON F12C.A03_UKEY = A03C.UKEY 
			WHERE F13C.CIA_UKEY = 'STAR_' AND A03C.UKEY = A03.UKEY AND F13C.F13_003_D < GETDATE() AND (F13C.F13_010_B - (F13C.F13_021_B + F13C.F13_025_B + F13C.F13_029_B) > 0)) AS 'PAST DUE QDY',
		(SELECT SUM(F13D.F13_010_B - (F13D.F13_021_B + F13D.F13_025_B + F13D.F13_029_B)) FROM STARWESTCONCALA2.DBO.F13 F13D (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12D (NOLOCK) ON F13D.F12_UKEY = F12D.UKEY 
			INNER JOIN STARWESTCONCALA2.DBO.A03 A03D (NOLOCK) ON F12D.A03_UKEY = A03D.UKEY WHERE F13D.CIA_UKEY = 'STAR_' AND A03D.UKEY = A03.UKEY AND F13D.F13_003_D < GETDATE()) AS 'PAST DUE',
		(SELECT SUM(F13B.F13_010_B - (F13B.F13_021_B + F13B.F13_025_B + F13B.F13_029_B)) FROM STARWESTCONCALA2.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY 
			INNER JOIN STARWESTCONCALA2.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY WHERE F13B.CIA_UKEY = 'STAR_' AND A03B.UKEY = A03.UKEY) AS 'OUTSTANDING',
		(SELECT TOP 1 J10_003_D FROM STARWESTCONCALA2.DBO.J10 (NOLOCK) WHERE J10.CIA_UKEY = 'STAR_' AND J10.A03_UKEY = A03.UKEY ORDER BY J10_003_D ASC, TIMESTAMP ASC) AS 'FIST PURCHASE DATE',
		(SELECT J06_001_B FROM STARWESTCONCALA2.DBO.J06 (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.J10 (NOLOCK) ON J06.J06_UKEYP = J10.UKEY WHERE J06.CIA_UKEY = 'STAR_' AND ARRAY_241 = 1 AND J10.UKEY = 
			(SELECT TOP 1 UKEY FROM STARWESTCONCALA2.DBO.J10 J10A (NOLOCK) WHERE J10A.A03_UKEY = A03.UKEY ORDER BY J10_003_D ASC, TIMESTAMP ASC)) AS 'FIRST PURCHASE AMNT',
		(SELECT TOP 1 J10_003_D FROM STARWESTCONCALA2.DBO.J10 (NOLOCK) WHERE J10.CIA_UKEY = 'STAR_' AND J10.A03_UKEY = A03.UKEY ORDER BY J10_003_D DESC, TIMESTAMP DESC) AS 'LAST PURCHASE DATE',
		(SELECT J06_001_B FROM STARWESTCONCALA2.DBO.J06 (NOLOCK) INNER JOIN STARWESTCON.DBO.J10 (NOLOCK) ON J06.J06_UKEYP = J10.UKEY WHERE J06.CIA_UKEY = 'STAR_' AND ARRAY_241 = 1 AND J10.UKEY = 
			(SELECT TOP 1 UKEY FROM STARWESTCONCALA2.DBO.J10 J10A (NOLOCK) WHERE J10A.A03_UKEY = A03.UKEY ORDER BY J10_003_D DESC, TIMESTAMP DESC)) AS 'LAST PURCHASE AMNT',
		(SELECT COUNT(F13A.UKEY) FROM STARWESTCONCALA2.DBO.F13 F13A (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12A (NOLOCK) ON F13A.F12_UKEY = F12A.UKEY INNER JOIN STARWESTCONCALA2.DBO.A03 A03A (NOLOCK) ON F12A.A03_UKEY = A03A.UKEY 
			WHERE F13A.CIA_UKEY = 'STAR_' AND A03A.UKEY = A03.UKEY AND (F13A.F13_010_B - (F13A.F13_021_B + F13A.F13_025_B + F13A.F13_029_B)) = 0) AS 'PAID QTY',
		(SELECT SUM(F13B.F13_021_B) FROM STARWESTCONCALA2.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY INNER JOIN STARWESTCONCALA2.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY 
			WHERE F13B.CIA_UKEY = 'STAR_' AND F13B.F13_021_B < F13B.F13_010_B AND F13B.F13_021_B <> 0 AND A03B.UKEY = A03.UKEY) AS 'PARTIALLY PAID QTY',
		(SELECT COUNT(F13B.UKEY) FROM STARWESTCONCALA2.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY INNER JOIN STARWESTCONCALA2.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY 
			WHERE F13B.CIA_UKEY = 'STAR_' AND F13B.F13_021_B < F13B.F13_010_B AND F13B.F13_021_B <> 0 AND A03B.UKEY = A03.UKEY) AS 'QUITADO PARCIAL QTY',
		(SELECT MAX(J06_001_B) FROM STARWESTCONCALA2.DBO.J10 (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.J06 (NOLOCK) ON J06.J06_UKEYP = J10.UKEY WHERE J06.CIA_UKEY = 'STAR_' AND J10.A03_UKEY = A03.UKEY) AS 'HIGHEST INVOICE',
		(SELECT AVG(DATEDIFF(DAYOFYEAR,F13_003_D , F15_011_D)) FROM STARWESTCONCALA2.DBO.F13 (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F15 (NOLOCK) ON F15.F13_UKEY = F13.UKEY INNER JOIN STARWESTCONCALA2.DBO.F12 (NOLOCK) ON F13.F12_UKEY = F12.UKEY
			WHERE F13.CIA_UKEY = 'STAR_' AND F12.A03_UKEY = A03.UKEY) AS 'AVERAGE PAST DUE DAYS'
		FROM STARWESTCONCALA2.DBO.A03 (NOLOCK)
		INNER JOIN WESTCON.DBO.TBLEMPRESAAPPLICATIONCALA EA (NOLOCK) ON EA.CODIGO = A03.A03_001_C
		INNER JOIN WESTCON.DBO.TBLEMPRESAREL ER WITH (NOLOCK) ON EA.CGC = ER.CGC  
		WHERE ER.CUSTOMERID = @CUSTOMERID
	END

IF @CODERP = 4
	BEGIN	
		SELECT
		(SELECT COUNT(F13A.UKEY) FROM STARWESTCONCALA2.DBO.F13 F13A (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12A (NOLOCK) ON F13A.F12_UKEY = F12A.UKEY INNER JOIN STARWESTCONCALA2.DBO.A03 A03A (NOLOCK) ON F12A.A03_UKEY = A03A.UKEY 
			WHERE F13A.CIA_UKEY = 'M8530' AND A03A.UKEY = A03.UKEY AND (F13A.F13_010_B - (F13A.F13_021_B + F13A.F13_025_B + F13A.F13_029_B)) > 0) AS 'OPEN QTY',
		(SELECT SUM(F13B.F13_010_B - (F13B.F13_021_B + F13B.F13_025_B + F13B.F13_029_B)) FROM STARWESTCONCALA2.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY 
			INNER JOIN STARWESTCONCALA2.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY WHERE F13B.CIA_UKEY = 'M8530'AND  A03B.UKEY = A03.UKEY) AS 'OPEN',
		(SELECT COUNT(F13C.UKEY) FROM STARWESTCONCALA2.DBO.F13 F13C (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12C (NOLOCK) ON F13C.F12_UKEY = F12C.UKEY INNER JOIN STARWESTCONCALA2.DBO.A03 A03C (NOLOCK) ON F12C.A03_UKEY = A03C.UKEY 
			WHERE F13C.CIA_UKEY = 'M8530' AND A03C.UKEY = A03.UKEY AND F13C.F13_003_D < GETDATE() AND (F13C.F13_010_B - (F13C.F13_021_B + F13C.F13_025_B + F13C.F13_029_B) > 0)) AS 'PAST DUE QDY',
		(SELECT SUM(F13D.F13_010_B - (F13D.F13_021_B + F13D.F13_025_B + F13D.F13_029_B)) FROM STARWESTCONCALA2.DBO.F13 F13D (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12D (NOLOCK) ON F13D.F12_UKEY = F12D.UKEY 
			INNER JOIN STARWESTCONCALA2.DBO.A03 A03D (NOLOCK) ON F12D.A03_UKEY = A03D.UKEY WHERE F13D.CIA_UKEY = 'M8530' AND A03D.UKEY = A03.UKEY AND F13D.F13_003_D < GETDATE()) AS 'PAST DUE',
		(SELECT SUM(F13B.F13_010_B - (F13B.F13_021_B + F13B.F13_025_B + F13B.F13_029_B)) FROM STARWESTCONCALA2.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY 
			INNER JOIN STARWESTCONCALA2.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY WHERE F13B.CIA_UKEY = 'M8530' AND A03B.UKEY = A03.UKEY) AS 'OUTSTANDING',
		(SELECT TOP 1 J10_003_D FROM STARWESTCONCALA2.DBO.J10 (NOLOCK) WHERE J10.CIA_UKEY = 'M8530' AND J10.A03_UKEY = A03.UKEY ORDER BY J10_003_D ASC, TIMESTAMP ASC) AS 'FIST PURCHASE DATE',
		(SELECT J06_001_B FROM STARWESTCONCALA2.DBO.J06 (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.J10 (NOLOCK) ON J06.J06_UKEYP = J10.UKEY WHERE J06.CIA_UKEY = 'M8530' AND ARRAY_241 = 1 AND J10.UKEY = 
			(SELECT TOP 1 UKEY FROM STARWESTCONCALA2.DBO.J10 J10A (NOLOCK) WHERE J10A.A03_UKEY = A03.UKEY ORDER BY J10_003_D ASC, TIMESTAMP ASC)) AS 'FIRST PURCHASE AMNT',
		(SELECT TOP 1 J10_003_D FROM STARWESTCONCALA2.DBO.J10 (NOLOCK) WHERE J10.CIA_UKEY = 'M8530' AND J10.A03_UKEY = A03.UKEY ORDER BY J10_003_D DESC, TIMESTAMP DESC) AS 'LAST PURCHASE DATE',
		(SELECT J06_001_B FROM STARWESTCONCALA2.DBO.J06 (NOLOCK) INNER JOIN STARWESTCON.DBO.J10 (NOLOCK) ON J06.J06_UKEYP = J10.UKEY WHERE J06.CIA_UKEY = 'M8530' AND ARRAY_241 = 1 AND J10.UKEY = 
			(SELECT TOP 1 UKEY FROM STARWESTCONCALA2.DBO.J10 J10A (NOLOCK) WHERE J10A.A03_UKEY = A03.UKEY ORDER BY J10_003_D DESC, TIMESTAMP DESC)) AS 'LAST PURCHASE AMNT',
		(SELECT COUNT(F13A.UKEY) FROM STARWESTCONCALA2.DBO.F13 F13A (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12A (NOLOCK) ON F13A.F12_UKEY = F12A.UKEY INNER JOIN STARWESTCONCALA2.DBO.A03 A03A (NOLOCK) ON F12A.A03_UKEY = A03A.UKEY 
			WHERE F13A.CIA_UKEY = 'M8530' AND A03A.UKEY = A03.UKEY AND (F13A.F13_010_B - (F13A.F13_021_B + F13A.F13_025_B + F13A.F13_029_B)) = 0) AS 'PAID QTY',
		(SELECT SUM(F13B.F13_021_B) FROM STARWESTCONCALA2.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY INNER JOIN STARWESTCONCALA2.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY 
			WHERE F13B.CIA_UKEY = 'M8530' AND F13B.F13_021_B < F13B.F13_010_B AND F13B.F13_021_B <> 0 AND A03B.UKEY = A03.UKEY) AS 'PARTIALLY PAID QTY',
		(SELECT COUNT(F13B.UKEY) FROM STARWESTCONCALA2.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY INNER JOIN STARWESTCONCALA2.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY 
			WHERE F13B.CIA_UKEY = 'M8530' AND F13B.F13_021_B < F13B.F13_010_B AND F13B.F13_021_B <> 0 AND A03B.UKEY = A03.UKEY) AS 'QUITADO PARCIAL QTY',
		(SELECT MAX(J06_001_B) FROM STARWESTCONCALA2.DBO.J10 (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.J06 (NOLOCK) ON J06.J06_UKEYP = J10.UKEY WHERE J06.CIA_UKEY = 'M8530' AND J10.A03_UKEY = A03.UKEY) AS 'HIGHEST INVOICE',
		(SELECT AVG(DATEDIFF(DAYOFYEAR,F13_003_D , F15_011_D)) FROM STARWESTCONCALA2.DBO.F13 (NOLOCK) INNER JOIN STARWESTCONCALA2.DBO.F15 (NOLOCK) ON F15.F13_UKEY = F13.UKEY INNER JOIN STARWESTCONCALA2.DBO.F12 (NOLOCK) ON F13.F12_UKEY = F12.UKEY
			WHERE F13.CIA_UKEY = 'M8530' AND F12.A03_UKEY = A03.UKEY) AS 'AVERAGE PAST DUE DAYS'
		FROM STARWESTCONCALA2.DBO.A03 (NOLOCK)
		INNER JOIN WESTCON.DBO.TBLEMPRESAAPPLICATIONCO EA (NOLOCK) ON EA.CODIGO = A03.A03_001_C
		INNER JOIN WESTCON.DBO.TBLEMPRESAREL ER WITH (NOLOCK) ON EA.CGC = ER.CGC  
		WHERE ER.CUSTOMERID = @CUSTOMERID
	END

IF @CODERP = 3
	BEGIN	
		SELECT
		(SELECT COUNT(F13A.UKEY) FROM STARWESTCONMX.DBO.F13 F13A (NOLOCK) INNER JOIN STARWESTCONMX.DBO.F12 F12A (NOLOCK) ON F13A.F12_UKEY = F12A.UKEY INNER JOIN STARWESTCONMX.DBO.A03 A03A (NOLOCK) ON F12A.A03_UKEY = A03A.UKEY 
			WHERE A03A.UKEY = A03.UKEY AND (F13A.F13_010_B - (F13A.F13_021_B + F13A.F13_025_B + F13A.F13_029_B)) > 0) AS 'OPEN QTY',
		(SELECT SUM(F13B.F13_010_B - (F13B.F13_021_B + F13B.F13_025_B + F13B.F13_029_B)) FROM STARWESTCONMX.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCONMX.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY 
			INNER JOIN STARWESTCONMX.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY WHERE A03B.UKEY = A03.UKEY) AS 'OPEN',
		(SELECT COUNT(F13C.UKEY) FROM STARWESTCONMX.DBO.F13 F13C (NOLOCK) INNER JOIN STARWESTCONMX.DBO.F12 F12C (NOLOCK) ON F13C.F12_UKEY = F12C.UKEY INNER JOIN STARWESTCONMX.DBO.A03 A03C (NOLOCK) ON F12C.A03_UKEY = A03C.UKEY 
			WHERE A03C.UKEY = A03.UKEY AND F13C.F13_003_D < GETDATE() AND (F13C.F13_010_B - (F13C.F13_021_B + F13C.F13_025_B + F13C.F13_029_B) > 0)) AS 'PAST DUE QDY',
		(SELECT SUM(F13D.F13_010_B - (F13D.F13_021_B + F13D.F13_025_B + F13D.F13_029_B)) FROM STARWESTCONMX.DBO.F13 F13D (NOLOCK) INNER JOIN STARWESTCONMX.DBO.F12 F12D (NOLOCK) ON F13D.F12_UKEY = F12D.UKEY 
			INNER JOIN STARWESTCONMX.DBO.A03 A03D (NOLOCK) ON F12D.A03_UKEY = A03D.UKEY WHERE A03D.UKEY = A03.UKEY AND F13D.F13_003_D < GETDATE()) AS 'PAST DUE',
		(SELECT SUM(F13B.F13_010_B - (F13B.F13_021_B + F13B.F13_025_B + F13B.F13_029_B)) FROM STARWESTCONMX.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCONMX.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY 
			INNER JOIN STARWESTCONMX.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY WHERE A03B.UKEY = A03.UKEY) AS 'OUTSTANDING',
		(SELECT TOP 1 J10_003_D FROM STARWESTCONMX.DBO.J10 (NOLOCK) WHERE J10.A03_UKEY = A03.UKEY ORDER BY J10_003_D ASC, TIMESTAMP ASC) AS 'FIST PURCHASE DATE',
		(SELECT J06_001_B FROM STARWESTCONMX.DBO.J06 (NOLOCK) INNER JOIN STARWESTCONMX.DBO.J10 (NOLOCK) ON J06.J06_UKEYP = J10.UKEY WHERE ARRAY_241 = 1 AND J10.UKEY = 
			(SELECT TOP 1 UKEY FROM STARWESTCONMX.DBO.J10 J10A (NOLOCK) WHERE J10A.A03_UKEY = A03.UKEY ORDER BY J10_003_D ASC, TIMESTAMP ASC)) AS 'FIRST PURCHASE AMNT',
		(SELECT TOP 1 J10_003_D FROM STARWESTCONMX.DBO.J10 (NOLOCK) WHERE J10.A03_UKEY = A03.UKEY ORDER BY J10_003_D DESC, TIMESTAMP DESC) AS 'LAST PURCHASE DATE',
		(SELECT J06_001_B FROM STARWESTCONMX.DBO.J06 (NOLOCK) INNER JOIN STARWESTCONMX.DBO.J10 (NOLOCK) ON J06.J06_UKEYP = J10.UKEY WHERE ARRAY_241 = 1 AND J10.UKEY = 
			(SELECT TOP 1 UKEY FROM STARWESTCONMX.DBO.J10 J10A (NOLOCK) WHERE J10A.A03_UKEY = A03.UKEY ORDER BY J10_003_D DESC, TIMESTAMP DESC)) AS 'LAST PURCHASE AMNT',
		(SELECT COUNT(F13A.UKEY) FROM STARWESTCONMX.DBO.F13 F13A (NOLOCK) INNER JOIN STARWESTCONMX.DBO.F12 F12A (NOLOCK) ON F13A.F12_UKEY = F12A.UKEY INNER JOIN STARWESTCONMX.DBO.A03 A03A (NOLOCK) ON F12A.A03_UKEY = A03A.UKEY 
			WHERE A03A.UKEY = A03.UKEY AND (F13A.F13_010_B - (F13A.F13_021_B + F13A.F13_025_B + F13A.F13_029_B)) = 0) AS 'PAID QTY',
		(SELECT SUM(F13B.F13_021_B) FROM STARWESTCONMX.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCONMX.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY INNER JOIN STARWESTCONMX.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY 
			WHERE F13B.F13_021_B < F13B.F13_010_B AND F13B.F13_021_B <> 0 AND A03B.UKEY = A03.UKEY) AS 'PARTIALLY PAID QTY',
		(SELECT COUNT(F13B.UKEY) FROM STARWESTCONMX.DBO.F13 F13B (NOLOCK) INNER JOIN STARWESTCONMX.DBO.F12 F12B (NOLOCK) ON F13B.F12_UKEY = F12B.UKEY INNER JOIN STARWESTCONMX.DBO.A03 A03B (NOLOCK) ON F12B.A03_UKEY = A03B.UKEY 
			WHERE F13B.F13_021_B < F13B.F13_010_B AND F13B.F13_021_B <> 0 AND A03B.UKEY = A03.UKEY) AS 'QUITADO PARCIAL QTY',
		(SELECT MAX(J06_001_B) FROM STARWESTCONMX.DBO.J10 (NOLOCK) INNER JOIN STARWESTCONMX.DBO.J06 (NOLOCK) ON J06.J06_UKEYP = J10.UKEY WHERE J10.A03_UKEY = A03.UKEY) AS 'HIGHEST INVOICE',
		(SELECT AVG(DATEDIFF(DAYOFYEAR,F13_003_D , F15_011_D)) FROM STARWESTCONMX.DBO.F13 (NOLOCK) INNER JOIN STARWESTCONMX.DBO.F15 (NOLOCK) ON F15.F13_UKEY = F13.UKEY INNER JOIN STARWESTCONMX.DBO.F12 (NOLOCK) ON F13.F12_UKEY = F12.UKEY
			WHERE F12.A03_UKEY = A03.UKEY) AS 'AVERAGE PAST DUE DAYS'
		FROM STARWESTCONMX.DBO.A03 (NOLOCK)
		INNER JOIN WESTCON.DBO.TBLEMPRESAAPPLICATIONMEXICO EA (NOLOCK) ON EA.CODIGO = A03.A03_001_C
		INNER JOIN WESTCON.DBO.TBLEMPRESAREL ER WITH (NOLOCK) ON EA.CGC = ER.CGC  
		WHERE ER.CUSTOMERID = @CUSTOMERID
	END